@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap');

@font-face {
	font-family: "Pretendard";
	src: url("../font/Pretendard-Regular.woff") format('woff');
	font-weight: 400;
}
@font-face {
	font-family: "Pretendard";
	src: url("../font/Pretendard-Medium.woff") format('woff');
	font-weight: 500;
}
@font-face {
	font-family: "Pretendard";
	src: url("../font/Pretendard-SemiBold.woff") format('woff');
	font-weight: 600;
}
@font-face {
	font-family: "YaldeviColombo", serif;
	src: url("../font/YaldeviColombo-Regular.woff") format('woff');
	font-weight: 400;
}

@font-face {
	font-family: "YaldeviColombo", serif;
	src: url("../font/YaldeviColombo-Light.woff") format('woff');
	font-weight: 300;
}

@font-face {
	font-family: "AmstelvarAlpha";
	src: url("../font/AmstelvarAlpha-Variations.woff") format('woff');
	/* src: url("../font/AmstelvarAlpha-Variations-noHVAR.woff") format('woff'); */
	font-weight: 400;
}

.nanum-myeongjo-regular {
	font-family: "Nanum Myeongjo", serif;
	font-weight: 400;
	font-style: normal;
}

  
html {
	font-size: 10px;
	font-family: "Pretendard";
}
body {
	position: relative;
	height: 100%;
}
/* body.fixed {position: fixed;} */
body.fixed {overflow-y: hidden;}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
button, a {
	border: none;
	cursor: pointer;
}

a {
	text-decoration: none;
} 
li {
	list-style: none;
}
img {max-width: 100%;}
.ver_pc {
	display: block;
}

.ver_mo {
	display: none;
}



/* 
 pc
 1rem=10px;


 */
/*   zindex 정리 

헤더 : 10;
메인비주얼 공지사항 : 20
인트로 : 시작시 1000 -> 종료시 0
gnb : 200
하단 플로트 300

 */


 
/* 공통 ui  */
.input_tit {
	font-size: 2.2rem;
	line-height: 2rem;
	font-weight: 500;
	color:#433a34;
}
.input_tit span {
	margin-left: 1rem;
	font-size: 1.5rem;
	font-weight: 400;
	color:#DB8A8A;
    vertical-align: top;
}
.ui_radio input {
	display: none;
}
.ui_radio span {
	font-size: 1.5rem;
	color:#433a34;
}
.ui_radio span {
	display: inline-block;
	position: relative;
	font-size: 1.5rem;
	color:#433a34;
	padding-left: 3rem;
}
.ui_radio span::before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 2rem;
	height: 2rem;
	top:0;
	left:0;
	background-image: url(../images/icon_ui_radio.svg);
    background-repeat: no-repeat;
    background-size: 2rem;
}
.ui_radio input:checked + span::before {
	background-image: url(../images/icon_ui_radio_chk.svg);
}

.ui_radio_set .ui_radio~.ui_radio{
	margin-left: 2rem;
}

.ui_textarea {
	padding: 2rem 0.85rem 2rem 1.5rem;
	border: 0.1rem solid #A6B7C2;
	border-radius: 0.5rem;	
}
.ui_textarea textarea {
	width: 100%;
	height: 100%;
	font-size: 1.5rem;
	color:#A2B3BE;
	border:none;
}
.ui_textarea textarea:active,
.ui_textarea textarea:focus {
	outline: none;
}
.ui_textarea textarea::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 0.5rem;
}
.ui_textarea  textarea::-webkit-scrollbar-track {
	/* background: #c0c0c0; */
	border-radius: 0.2rem;
}
.ui_textarea  textarea::-webkit-scrollbar-thumb {
	background: #A6B7C2;
	border-radius: 0.2rem;
}
.ui_input {
	width: 100%;
	border: 0.1rem solid #A6B7C2;
	border-radius: 0.5rem;	
}

.page_title.type01 {
	max-width: 140rem;
    margin: 0 auto;
}
.page_title.type01 p {
	font-size: 1.8rem;
	color: #AA9B7A;
}
.page_title.type01 h2 {
	font-family: "NanumMyeongjo";
	font-size: 6rem;
	color: #433a34;
}



/* 공통 - 헤더 */
.header_con .top_wrap {
	position: absolute; 
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	color:#fff;
}
.header_con .top_logo {
	padding: 4.6rem 0;
}
.header_con .top_logo a {
	display: block;
	width: 14.5rem;
	height: 3.3rem;
	margin: 0 auto;
    background-image: url(../images/header_logo.png);
    background-repeat: no-repeat;
    background-size: 14.5rem;
}
.header_con .top_tnb {
	position: absolute;
    top: 3rem;
    left: 16rem;
	width: 11.1rem;
}
.header_con .top_tnb > p {
	font-size: 1.6rem;
	font-family: "AmstelvarAlpha", serif;
	letter-spacing: -0.1rem;
}
.header_con .top_tnb ul {
	display: none;
    height: 13.4rem;
    padding: 2rem 0.9rem 1.2rem;
    background: rgba(59, 50, 66, 0.2);
    border-radius: 0.6rem;
	transition: height 0.5s;
}
.header_con .top_tnb ul li a {
	display: block;
	font-size: 1.5rem;
	line-height: 1.7;
	letter-spacing: -0.1rem;
	color:rgba(255,255,255,0.4);
	background: url(../images/header_icon_quick_arr.svg) no-repeat center right;
}
.header_con .top_tnb ul li a:hover {
	color: #FAEFD8;
	font-weight: 500;
	background: url(../images/header_icon_quick_arr_hover.svg) no-repeat center right;
}
.header_con .top_tnb:hover {}
.header_con .top_addr {
	position: absolute;
    top: 4.7rem;
    right: 26rem;
	padding-left: 3rem;
	background-image: url(../images/header_icon_location.png);
	background-repeat: no-repeat;
	background-position: center left;
	font-size: 1.5rem;
	font-family: 'Pretendard';
	letter-spacing: -0.03rem;
}
.header_con .top_menu {
	position: absolute;
    top: 3.7rem;
    right: 16rem;
}
.header_con .top_menu button {
	width: 4rem;
	height: 4rem;
	background-image: url(../images/header_icon_menu.png);
    background-repeat: no-repeat;
    background-size: 4rem;
	background-color: transparent;
}
.header_con .top_wrap.fixed {
	position: fixed;
	top: -10rem;
	background-color: rgba(255,255,255,0.6);
	transition: all 0.5s;
}
.header_con .top_wrap.fixed .top_logo {
	padding: 2.6rem 0;
}
.header_con .top_wrap.down {
	top: 0;	
}
.header_con .top_wrap.fixed,
.header_con .top_wrap.black {
	color:#433a42
}
.header_con .top_wrap.fixed .top_logo a ,
.header_con .top_wrap.black .top_logo a {
    background-image: url(../images/header_logo_black.png);
}
.header_con .top_wrap.fixed .top_addr,
.header_con .top_wrap.black .top_addr {
	background-image: url(../images/header_icon_location_black.png);
}
.header_con .top_wrap.fixed .top_menu button,
.header_con .top_wrap.black .top_menu button {
	background-image: url(../images/header_icon_menu_black.png);
}
.header_con .top_wrap.fixed .top_addr {
	top: 3.5rem;
}
.header_con .top_wrap.fixed .top_menu {
	top: 2.3rem;
}
.header_con .top_wrap.fixed .top_tnb {
	top: 3.5rem;
}

/* 공통 - gnb */
.gnb_wrap {
	display: none;
	overflow: scroll;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #F8F6F0;
	z-index: 200;
}
.gnb_top .gnb_logo {
	position: absolute;
	top: 4.6rem;
	left: calc(50% - 7.25rem);
	width: 14.5rem;
	height: 3.3rem;
	margin: 0 auto;
    background-image: url(../images/header_logo_black.png);
    background-repeat: no-repeat;
    background-size: 14.5rem;
}
.gnb_top .gnb_guest {
	display: flex;
	position: absolute;
    /* top: 2.45vw; */
	top: calc(2vw + 1rem);
    right: 12.7vw;
}
.gnb_top .gnb_guest a {
	position: relative;
	padding:0 1.6rem;
	font-size: 1.5rem;
	letter-spacing: -0.1rem;
	color:#A2B3BE;
}
.gnb_top .gnb_guest li~li a::before {
	content: '';
	display: block;
	position: absolute;
	height: 1.3rem;
	left: 0;
	top: 0.2rem;
	border-left: 1px solid #A6B7C2;
}
.gnb_top .gnb_member {
	display: flex;
	position: absolute;
    top: calc(2vw + 1rem);
	right: 13.5vw;
    align-items: center;
}
.gnb_top .gnb_member p {
	margin-left: 1rem;
	font-size: 1.5rem;
	letter-spacing: -0.1rem;
	color:#A2B3BE;
}
.gnb_top .gnb_member span {
	margin-right: 0.5rem;
	font-size: 2rem;
	font-weight: 600;
	letter-spacing: 0.2rem;
	color:#433A34;
}
.gnb_top .gnb_close {
	position: absolute;
	top: 1.93vw;
    right: 8.3vw;
	width: 4rem;
	background: none;
}
.gnb_bot {
	margin-top: 12.5vw;
}
.gnb_bot .wrap {
	display: flex;
	padding: 0 3rem;
	justify-content: flex-end;
}
.gnb_bot .gnb_list {
	display: flex;
	max-width: 94rem;
    width: 60%;
    flex-wrap: wrap;
}
.gnb_bot .gnb_list > li {
	width: 33%;
    margin-bottom: 4rem;
}
.gnb_bot .gnb_list strong {
	font-family: "NanumMyeongjo";
	font-size: 2.8rem;
	font-weight: 700;
	letter-spacing: -0.1rem;
	color:#A2B3BE;
}
.gnb_bot .gnb_list ul {
	margin-top:3.8rem;
}
.gnb_bot .gnb_list ul li a {
	font-size: 2rem;
	line-height: 5.5rem;
	letter-spacing: -0.1rem;
	color:#433A34;
}
.gnb_bot .gnb_img {
	width: 37.1%;
}

/* 공통 sns 버튼 */
.sns_fixed_con {
	position: fixed;
	bottom: 6.5rem;
	right: 6.5rem;
	z-index: 300;
}
.sns_fixed_con {}
.sns_fixed_con .sns_list {
	overflow: hidden;
	/* width: 0; */
	height: 0;
}
.sns_fixed_con .sns_list li a {
	display: flex;
	width: 6.5rem;
	height: 6.5rem;
	margin-bottom: 2rem;
	border-radius: 50%;
	background:#f9f9f9;
	justify-content: center;
	align-items: center;
    opacity:0; 
	transform: translateY(30%);
	transition: all 1s;
}
.sns_fixed_con .btn_wrap button {
	width: 6.5rem;
	height: 6.5rem;
	border-radius: 50%;
	background:#A2B3BE;
	box-shadow: 0.2rem 0.2rem 0.2rem rgba(47,58,52,0.2);
	transition: all 1s;
}
.sns_fixed_con .btn_wrap button img {
	vertical-align: middle;
}
.sns_fixed_con.open .sns_list {
	/* width: auto; */
	height: auto;
}
.sns_fixed_con.open .sns_list a {
    opacity:1; 
    transform: translateY(0%);
}
.sns_fixed_con.open .sns_list .sns_youtube a {
    transition-delay: 0.9s;
}
.sns_fixed_con.open .sns_list .sns_insta a {
    transition-delay: 0.7s;
}
.sns_fixed_con.open .sns_list .sns_blog a {
    transition-delay: 0.5s;
}
.sns_fixed_con.open .sns_list .sns_kakao a {
    transition-delay: 0.3s;
}

.sns_fixed_con.open .btn_wrap button {
	transform: rotate(45deg);
}


/* 공통 - 지도 */
.footer_top {
	display: flex;
    justify-content: flex-end;
	background-color: #F8F6F0;
}
.footer_top .wrap {
	display: flex;
	max-width: 167rem;
    width: 100%;
	padding-top: 7.4rem;
    justify-content: space-between;
}
.footer_top .info_wrap {
	padding: 0 3rem;
}
.footer_top .info_wrap .tit {
	font-family: 'AmstelvarAlpha';
	font-size: 3rem;
	letter-spacing: -0.1rem;
	color:#AA9B7A;
}
.footer_top .location_wrap {
	opacity: 0;
	transform: translateY(20rem);
}
.footer_top .location_wrap .addr {
    margin-top: 2.6rem;
	font-size: 2.2rem;
    font-weight: 500;
	letter-spacing: -0.1rem;
	color:#433A34;
}
.footer_top .location_wrap .addr_sub {
    margin-top: 1rem;
	font-size: 1.5rem;
	letter-spacing: -0.1rem;
	color:#A6B7C2
}
.footer_top .location_wrap .tel {
    margin-top: 1.1rem;
	font-family: 'AmstelvarAlpha';
	font-size: 2.3rem;
	letter-spacing: -0.1rem;
	color:#433A34
}
.footer_top .time_wrap {
    margin-top: 5.2rem;
	opacity: 0;
	transform: translateY(20rem);
}
.footer_top .time_wrap ul {
	margin-top: 3.4rem;
}
.footer_top .time_wrap ul li {
	font-size: 1.5rem;
	letter-spacing: -0.1rem;
	line-height: 3rem;
	color:#433A34;
}
.footer_top .time_wrap ul li b {
	display: inline-block;
	width: 8rem;
}
.footer_top .time_wrap ul li span {
	font-family: 'AmstelvarAlpha';
}
.footer_top .time_wrap .txt {
    margin-top: 1.8rem;
	font-size: 1.5rem;
	letter-spacing: -0.1rem;
	color:rgba(67,58,52,0.6);
}
.footer_top .map_wrap {
	max-width: 107.2rem;
    width: 65%;
    height: 52.6rem;
	opacity: 0;
	transform: translateY(20rem);
}
.footer_top.active .location_wrap {
	opacity: 1;
	transform: translateY(0rem);
	transition: all 1s;
}
.footer_top.active .time_wrap {
	opacity: 1;
	transform: translateY(0rem);
	transition: all 1s 0.3s;
}
.footer_top.active .map_wrap {
	opacity: 1;
	transform: translateY(0rem);
	transition: all 0.6s;
}

/* 공통 - 푸터 */
.footer_bottom {
	background-color: #A8B9C3;
}
.footer_bottom .wrap {
	max-width: 164rem;
	padding: 3.7rem 3rem 2.5rem;
	margin: 0 auto;
}
.footer_bottom ul {
	display: flex;
}
.footer_bottom ul li {

}
.footer_bottom ul li a {
	position: relative;
	padding: 0 1.9rem;
	font-size: 1.8rem;
	color: #FFFFFF;
}
.footer_bottom ul li:first-child a {
	padding-left: 0;
}
.footer_bottom ul li~li a::before {
	content: '';
	display: block;
	position: absolute;
	height: 1.6rem;
	left: 0;
	top: 0.3rem;
	border-left: 1px solid #Fff;
}
.footer_bottom p {
	margin: 2.5rem 0 1.2rem 0;
}
.footer_bottom span {
	font-size: 1.5rem;
	line-height: 2.6rem;
	color: rgba(255,255,255,0.4)
}


@media screen and (max-width:1600px){}
@media screen and (max-width:1400px){
    html {
		font-size: 9px;
	}
}


/* 태블릿 */
@media screen and (max-width:1024px){
    html {
		font-size: 8px;

	}
	.header_con .top_addr {
		display: none;
	}
}

/* 모바일 */
@media screen and (max-width:768px){
	html {
		/* 디자인 375px 기준,  1rem => 10px */
		font-size: 2.667vw;
	}
	.ver_pc {
		display: none;
	}
	.ver_mo {
		display: block;
	}
	.header_con .top_tnb,
	.gnb_bot .gnb_img {
		display: none;
	}

	.header_con .top_logo {
		padding: 4rem;
	}
	.header_con .top_logo a {
		width: 8rem;
        height: 1.8rem;
		background-size: 8rem;
	}
	.header_con .top_menu {
		top: 3rem;
		right: 2rem;
	}
	.header_con .top_wrap.fixed .top_menu {
		top: 0.5rem;
	}
	.header_con .top_wrap.fixed .top_logo {
		padding: 1.6rem 0;
	}
	.gnb_top .gnb_logo {
		width: 8rem;
        height: 1.8rem;
		top: 4rem;
		left: calc(50% - 4rem);
		background-size: 8rem;
	}
	.gnb_top .gnb_guest {
		position: fixed;
		top: auto;
        right: auto;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1rem 0 4rem 2.5rem;
        background: #F8F6F0;
	}
	.gnb_top .gnb_member {
		position: fixed;
		top: auto;
		right: auto;
		bottom: 0;
		left: 0;
        right: 0;
        padding: 1rem 0 4rem 4rem;
        background: #F8F6F0;
	}
	.gnb_top .gnb_close {
		top: 3rem;
		right: 2rem;
	}
	.gnb_bot {
		margin-top: 15rem;
		margin-bottom: 2rem;
	}
	.gnb_bot .wrap {
		padding: 0 4.3rem;
	}
	.gnb_bot .gnb_list {
		display: block;
		width: 100%;
		max-width: unset;
	}
	.gnb_bot .gnb_list > li {
		width: 100%
	}
	.gnb_bot .gnb_list strong {
		font-size: 2.2rem;
	}
	.gnb_bot .gnb_list ul {
		display: none;
		margin-top: 2rem;
	}
	.gnb_bot .gnb_list ul li a {
		font-size: 1.4rem;
		line-height: 2.8rem;
	}
	.sns_fixed_con {
		bottom: 4rem; 
		right: 2rem;
	}
	.sns_fixed_con .btn_wrap button {
		width: 4rem;
		height: 4rem;
        padding: 1rem;
	}
	.sns_fixed_con .sns_list li a {
		width: 4rem;
		height: 4rem;
        padding: 1.2rem 1rem;
    }
	.footer_top .wrap {
		display: block;		
        padding: 8rem 2.7rem 2rem 2.7rem;
	}
	.footer_top .info_wrap {
		padding: 0;
	}
	.footer_top .info_wrap .tit {
		font-size: 2rem;
	}
	.footer_top .location_wrap .addr {
		margin-top: 2rem;
		font-size: 1.5rem;
	}
	.footer_top .location_wrap .addr_sub {
		margin-top: 0.7rem;
		font-size: 1.2rem;
	}
	.footer_top .location_wrap .tel {
		margin-top: 1.4rem;
		font-size: 1.8rem;
	}
	.footer_top .time_wrap {
		margin-top: 4rem;
	}
	.footer_top .time_wrap ul {
		margin-top: 2rem;
	}
	.footer_top .time_wrap ul li {
		font-size: 1.2rem;
		line-height: 2.4rem;
	}
	.footer_top .time_wrap ul li b {
		width: 8rem;
	}
	.footer_top .time_wrap .txt {
		margin-top: 1.4rem;
		font-size: 1.2rem;
		line-height: 1.8rem;
	}
	.footer_top .map_wrap {
		width: 100%;
		height: 18rem;
		margin-top: 2rem;
	}
	.footer_bottom .wrap {
		padding: 3rem 2rem 2.5rem;
	}
	.footer_bottom ul li a {
		font-size: 1.4rem;
		padding: 0 1rem;
	}
	.footer_bottom ul li~li a::before {
		height: 1.2rem;
		top: 0.2rem;
	}
	.footer_bottom p {
		margin: 1rem 0 2.4rem 0;
	}
	.footer_bottom span {
		font-size: 1.2rem;
		line-height: 2rem;
	}
	.footer_bottom .footer_logo {
		width: 8rem;
	}
	
}