@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap');

@font-face {
	font-family: "Pretendard";
	src: url("../font/Pretendard-Regular.woff") format('woff');
	font-weight: 400;
}
@font-face {
	font-family: "Pretendard";
	src: url("../font/Pretendard-Medium.woff") format('woff');
	font-weight: 500;
}
@font-face {
	font-family: "Pretendard";
	src: url("../font/Pretendard-SemiBold.woff") format('woff');
	font-weight: 600;
}
@font-face {
	font-family: "YaldeviColombo", serif;
	src: url("../font/YaldeviColombo-Regular.woff") format('woff');
	font-weight: 400;
}

@font-face {
	font-family: "YaldeviColombo", serif;
	src: url("../font/YaldeviColombo-Light.woff") format('woff');
	font-weight: 300;
}

@font-face {
	font-family: "AmstelvarAlpha";
	src: url("../font/AmstelvarAlpha-Variations.woff") format('woff');
	/* src: url("../font/AmstelvarAlpha-Variations-noHVAR.woff") format('woff'); */
	font-weight: 400;
}

.nanum-myeongjo-regular {
	font-family: "Nanum Myeongjo", serif;
	font-weight: 400;
	font-style: normal;
}

  
html {
	font-size: 10px;
	font-family: "Pretendard";
}
body {
	position: relative;
	height: 100%;
}
/* body.fixed {position: fixed;} */
body.fixed {overflow-y: hidden;}
#content {position: relative;}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
button, a {
	border: none;
	cursor: pointer;
}
a {
	text-decoration: none;
} 
ul li {
	list-style: none;
}
img {max-width: 100%;}
.ver_pc {
	display: block;
}

.ver_mo {
	display: none;
}



/* 
 pc
 1rem=10px;


 */
/*   zindex 정리 

셀렉트박스 : 1
메인비주얼 공지사항 : 10
메인 상담예약 버튼 : 10
헤더 : 100  (스크롤시 픽스 고려) 
인트로 : 시작시 1000 -> 종료시 1  (메인 비디오 때문에 1이상 줘야함)
gnb : 200
하단 플로트 300
레이어 팝업 : 1000


 */



.scr_chk {
	opacity: 0;
	transform: translateY(5rem);
}
.scr_chk.active {
	opacity: 1;
	transform: translateY(0);
	transition: all 1s;
}

.video_box {
	position:relative;
	width: 100%;
	padding:56.25% 0 0 0;
}
.video_box iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/* 서브비주얼 */
.sub_visual_con {
	height: 71rem;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.sub_visual_txt {
	max-width: 144rem;
    margin: 0 auto;
    padding-top: 24rem;
    padding-left: 3rem;
	transform: none;
}
.sub_visual_txt .txt {
    margin-bottom: 3rem;
	font-family: "NanumMyeongjo";
	font-size: 1.8rem;
	line-height: 2.3rem;
	color: #AA9B7A;
	opacity: 0;
	transform: translateY(10rem);
}
.sub_visual_txt .tit {
	font-family: "YaldeviColombo";
	font-size: 6rem;
	font-weight: 300;
    line-height: 8rem;
    letter-spacing: -0.025rem;
    color: #fff;
	opacity: 0;
	transform: translateY(10rem);
	/* 이하 폰트이슈로 임시 처리, 폰트파일 교체시 삭제 */
    font-size: 4.8rem;
    transform: translateY(10rem) scaleY(1.1);
    margin-top: -0.5rem;
    margin-bottom: 1.5rem;
}
.sub_visual_txt .sub_txt {
	margin-top: 1rem;
	font-size: 2rem;
    line-height: 3.2rem;
    letter-spacing: -0.035rem;
    color: #fff;
	opacity: 0;
	transform: translateY(10rem);
}
.sub_visual_txt.active .txt {
	opacity: 1;
	transform: translateY(0rem);
	transition: all 1s;
}
.sub_visual_txt.active .tit {
	opacity: 1;
	transform: translateY(0rem)  scaleY(1.1);
	transition: all 1s;
}
.sub_visual_txt.active .txt + .tit {
	transition: all 1s 0.5s;
}
.sub_visual_txt.active .sub_txt {
	opacity: 1;
	transform: translateY(0rem);
	transition: all 1s 1s;
}



/* 공통 타이틀&텍스트 */
.page_title.type01 {
	max-width: 140rem;
    margin: 0 auto;
	transform: none;
}
.page_title.type01 .txt {
    margin-bottom: 3rem;
	font-family: "NanumMyeongjo";
	font-size: 1.8rem;
	line-height: 2.3rem;
	color: #AA9B7A;
	opacity: 0;
	transform: translateY(10rem);
}
.page_title.type01 .tit {
	font-family: "NanumMyeongjo";
	font-size: 6rem;
	line-height: 7.5rem;
	letter-spacing: -0.03rem;
	color: #433a34;
	opacity: 0;
	transform: translateY(10rem);
}
.page_title.type01 .sub_txt {
    margin-top: 1.6rem;
	font-size: 2rem;
	line-height: 3rem;
	color: #433a34;
	opacity: 0;
	transform: translateY(10rem);
}
.page_title.type01.active {
	max-width: 140rem;
    margin: 0 auto;
}
.page_title.type01.active .txt {
	opacity: 1;
	transform: translateY(0rem);
	transition: all 1s;
}
.page_title.type01.active .tit {
	opacity: 1;
	transform: translateY(0rem);
	transition: all 1s;
}
.page_title.type01.active .tit + .tit {
	transition: all 1s 0.5s;
}
.page_title.type01.active .sub_txt {
	opacity: 1;
	transform: translateY(0rem);
	transition: all 1s 1s;
}
.page_title.type02 {
	padding: 13.8rem 0 10rem;
	text-align: center;
	background-image: url(../images/icon_title_deco.svg);
	background-repeat: no-repeat;
	background-position: top 9.1rem center ;
	background-size: 2.7rem ;
	transform: none;
}
.page_title.type02 .txt {
    margin-bottom: 1.1rem;
	font-family: "NanumMyeongjo";
	font-size: 1.8rem;
	line-height: 2.3rem;
	letter-spacing: -0.15rem;
	color: #AA9B7A;
	opacity: 0;
	transform: translateY(10rem);
}
.page_title.type02 .tit {
	font-family: "NanumMyeongjo";
	font-size: 6rem;
	line-height: 7.5rem;
	letter-spacing: -0.05rem;
	color: #433a34;
	opacity: 0;
	transform: translateY(10rem);
}
.page_title.type02 .sub_txt {
	margin-top: 1.6rem;
	font-size: 1.8rem;
	line-height: 3rem;
	color: #433a34;
	opacity: 0;
	transform: translateY(10rem);
}
.page_title.type02.active {
}
.page_title.type02.active .txt {
	opacity: 1;
	transform: translateY(0rem);
	transition: all 1s;
}
.page_title.type02.active .tit {
	opacity: 1;
	transform: translateY(0rem);
	transition: all 1s;
}
.page_title.type02.active .txt +.tit {
	transition: all 1s 0.5s;
}
.page_title.type02.active .sub_txt {
	opacity: 1;
	transform: translateY(0rem);
	transition: all 1s 1s;
}


.text_set .tit_sub {
	margin-bottom: 1rem;
	font-family: "AmstelvarAlpha";
	font-size: 1.8rem;
	line-height: 2.2rem;
    letter-spacing: -0.025rem;
	color:#AA9B7A;
}
.text_set .tit {
	font-family: "NanumMyeongjo";
	font-size: 2.2rem;
	font-weight: 700;
	line-height: 3.4rem;
    letter-spacing: -0.025rem;
	color:#433A34;
}
.text_set .txt {
	margin-top: 4.2rem;
	font-size: 1.5rem;
	line-height: 3rem;
    letter-spacing: -0.025rem;
	color:#433A34;
}
.text_set .txt~.txt {
	margin-top: 3.5rem;
}


.text_set.type02 {
	padding-top: 4.7rem;
	background-image: url(../images/icon_title_deco.svg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 2.7rem;
}
.text_set.type02 .tit_sub {
	margin-bottom: 1.5rem;
}
.text_set.type02 .tit {
	font-size: 2.8rem;
	line-height: 4rem;
}
.text_set.type02 .txt {
	margin-top: 4rem;
	font-size: 1.8rem;
}
.text_set.type02 .txt~.txt {
	margin-top: 2rem;
}



.input_tit {
	margin-bottom: 4.5rem;
	font-size: 2.2rem;
	line-height: 2rem;
	font-weight: 500;
    letter-spacing: -0.03rem;
	color:#433a34;
}
.input_tit span {
	margin-left: 1rem;
	font-size: 1.5rem;
	font-weight: 400;
    vertical-align: top;
}
.input_tit span.imp {
	color:#DB8A8A;
}
.input_tit span.nor {
	color:#7593A7;
}
.input_info .txt {
    margin-top: 1rem;
	font-size: 1.5rem;
    letter-spacing: -0.03rem;
}
.input_info .txt.warning {
	color: #DB8A8A;
}
.input_info .txt.info {
	color: #7593A7;
}



/* 공통 input */
.ui_radio {
	display: inline-block;
}
.ui_radio input {
	display: none;
}
.ui_radio span {
	display: inline-block;
	position: relative;
	height: 2rem;
	padding-left: 3rem;
	font-size: 1.5rem;
	line-height: 2rem;
	color:#433a34;
}
.ui_radio span::before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 2rem;
	height: 2rem;
	top:0;
	left:0;
	background-image: url(../images/icon_ui_radio.svg);
    background-repeat: no-repeat;
    background-size: 2rem;
}
.ui_radio input:checked + span::before {
	background-image: url(../images/icon_ui_radio_chk.svg);
}
.ui_radio_set .ui_radio {
	display: inline-block;
}
.ui_radio_set .ui_radio~.ui_radio{
	margin-left: 2rem;
}
.ui_textarea {
	padding: 2rem 0.85rem 2rem 1.5rem;
	border: 1px solid #A6B7C2;
	border-radius: 0.6rem;	
}
.ui_textarea textarea {
	width: 100%;
	height: 100%;
	padding-right: 1rem;
	font-family: "Pretendard";
	font-size: 1.5rem;
	line-height: 2rem;
    letter-spacing: -0.03rem;
	color:#4C6677;
	border:none;
}
.ui_textarea textarea:read-only {
	/* 약관때문에 컬러 변경, 필요시 loginjoin css로 뺄것 */
	color:#A2B3BE;
}
.ui_textarea textarea::placeholder {
	color:#A2B3BE;
}
.ui_textarea.active {
	border-color: #4C6677;
	outline: none;
}
.ui_textarea textarea:active,
.ui_textarea textarea:focus {
	outline: none;
}
.ui_textarea textarea::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 2px;
}
.ui_textarea  textarea::-webkit-scrollbar-track {
	border-radius: 2px;
}
.ui_textarea  textarea::-webkit-scrollbar-thumb {
	background: #A6B7C2;
	border-radius: 2px;
}
.ui_input {
	width: 100%;
	padding: 2.1rem 1.5rem;
	border: 1px solid #4C6677;
	border-radius: 0.6rem;	
	font-family: "Pretendard";
	font-size: 1.5rem;
	color: #4c6677;
	background-color: transparent;
}
.ui_input::placeholder {
	color: #A2B3BE
}
.ui_input:placeholder-shown {
	color: #A2B3BE;
	border: 1px solid #A6B7C2;
}
.ui_input:active,
.ui_input:focus {
	outline: none;
}
.ui_input:disabled {
	font-size: 1.8rem;
	border: none;
	outline: none;
}
.ui_select {
	position: relative;
	width: 100%;
	height: 6.2rem;
}
.ui_select > .wrap {
	overflow: hidden;
	width: 100%;
	height: 6.2rem;
	border: 1px solid #A6B7C2;
	border-radius: 0.6rem;
}
.ui_select button {
	display: flex;
	align-items: center;
	width: 100%;
	height: 6.2rem;
	border: 0 none;
	outline: 0 none;
	padding-left: 1.4rem;
	background-image: url(../images/icon_ui_select.png);
    background-repeat: no-repeat;
    background-size: 1.6rem;
	background-position: center right 1.9rem;
	background-color: #EDF1F3;
	color: #4C6677;
}
.ui_select ul {
	overflow: hidden;
	width: 100%;
	padding: 0 2.4rem 1.5rem 1.5rem;
	list-style-type: none;
	border-radius: 0 0 0.6rem 0.6rem;
	background-color: #EDF1F3;
	color: #fff;
	transition: .3s ease-in;
}
.ui_select .option label {
	display: block;
	border-top: 1px solid rgba(166, 183, 194, 0.15);
	padding: 0 1rem;
	font-size: 1.5rem;
	line-height: 3rem;
	color:rgba(76,102,119,0.5);
}
.ui_select .option:first-child {
	padding-top: 1.5rem;
	border-top: 1px solid rgba(166, 183, 194, 0.15);
}
.ui_select .option:first-child label {
  border-top: none;
}
.ui_select .option input {
	display: none;
}
.ui_select .option:hover label {
	font-weight: 500;
	color:#FAEFD8;
	background: #A6B7C2
}
.ui_select.active {
	z-index: 1;
}
.ui_select.active .wrap {
	height: auto;
}
.ui_select.active button {
	background-image: url(../images/icon_ui_select_on.png);
}
.ui_select ul::-webkit-scrollbar {width: 2px;}
.ui_select ul::-webkit-scrollbar-track {background: transparent; }
.ui_select ul::-webkit-scrollbar-thumb {background: #303030; border-radius: 45px;}
.ui_select .optionList::-webkit-scrollbar-thumb:hover {background: #303030;}
.ui_file {}
.ui_file span{
    display: inline-block;
    position: relative;
	padding-left: 4.4rem;
	font-family: "Pretendard";
	font-size: 2rem;
	line-height: 3rem;
    letter-spacing: -0.03rem;
	background-image: url(../images/icon_ui_file_.png);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 3rem;
    color: #433A34;
    cursor: pointer;
}
.ui_file span::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0.4rem;
    right: 0;
    width: calc(100% - 4.4rem);
    border-bottom: 1px solid #433A34;
}
.ui_file input[type="file"] {
    display: none;
}
.input_grid2 {
	display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.input_grid2 > .wrap {
    width: calc(50% - 1rem);
}


/* 공통 button */
.btn_cancel {
	display: flex;
	width: 100%;
    height: 7rem;
    justify-content: center;
    align-items: center;
	font-family: "Pretendard";
	font-size: 2rem;
    letter-spacing: -0.03rem;
    border-radius: 0.6rem;
	border: 1px solid #7593A7;
	color:#7593A7;
    background-color: transparent;
}
.btn_main {
	display: flex;
	width: 100%;
    height: 7rem;
    justify-content: center;
    align-items: center;
	font-family: "Pretendard";
	font-size: 2rem;
    letter-spacing: -0.03rem;
    border-radius: 0.6rem;
	color:#fff;
    background-color: #6D8A9D;
}
.btn_main:active {
    box-shadow: 0 0.4rem 0.4rem rgba(0,0,0,0.25);
}
.btn_confirm_wrap {
	display: flex;
	margin-top: 10.5rem;
}
.btn_confirm_wrap .btn_cancel {
    flex: 0 0 19rem;
	margin-right: 1rem;
}
.btn_confirm_wrap .btn_main {
    flex: 1 1 auto;
}

.btn_arr {
	display: inline-block;
    position: relative;
    width: 30rem;
    padding-left: 2.7rem;
    border-radius: 2.4rem;
    font-size: 1.5rem;
    letter-spacing: -0.1rem;
    line-height: 4.8rem;
    text-align: left;
    background-repeat: no-repeat;
    background-position: center right 3.8rem;
    background-size: 3rem;
}
.btn_arr.dark  {
    background-image: url(../images/btn_icon_arr_white.svg);
    background-color: #433A34;
    color: #fff;
}
.btn_arr.light {
    background-image: url(../images/btn_icon_arr_light.svg);
    background-color: #FAEFD8;
    color: #AA9B7A;
}
.btn_arr_border {
	display: inline-block;
    position: relative;
    width: 30rem;
    padding-left: 2.7rem;
    border-radius: 2.4rem;
    font-size: 1.5rem;
    letter-spacing: -0.1rem;
    line-height: 4.8rem;
    text-align: left;
    background-repeat: no-repeat;
    background-position: center right 3.8rem;
    background-size: 3rem;
	background-color: transparent;
}
.btn_arr_border.dark  {
    background-image: url(../images/btn_icon_arr_dark.svg);
    border: 0.1rem solid #8D7F74;
    color: #433A34;
}
.btn_arr_border.light {
    background-image: url(../images/btn_icon_arr_white.svg);
    border: 0.1rem solid #FAEFD8;
    color: #FAEFD8;
}


/* 공통 탭, 모바일은 셀렉트박스와 동일 디자인 */
.ui_tab ul{
	display: flex;
}
.ui_tab .btn_tab_open {
	display: none;
}
.ui_tab li {
	flex: 1 1 0;
}
.ui_tab ul button {
	display: block;
	width: 100%;
	padding: 1.5rem 0;
	font-family: "NanumMyeongjo";
	font-size: 2.2rem;
	line-height: 3.4rem;
	font-weight: 700;
    letter-spacing: -0.025rem;
	text-align: center;
	border-bottom: 0.3rem solid #D9D9D9;
	color:rgba(67,58,53,0.4);
	background:transparent;
}
.ui_tab ul button.on {
	color:#433A34;
	border-bottom: 0.3rem solid #A6B7C2;
}
.tab_box {
	display: none;
}
.tab_box.on {
	display: block;
}

/* 페이지 스위칭 */
.swich_page {display: none;}
.swich_page.on {display: block;}





/* 서브콘텐츠 */
.imp_point {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
}
.imp_point li {
    position: relative;
    text-align: center;
	width: 15rem;
}
.imp_point li .txt {
    margin-top: 1.3rem;
    font-size: 2.2rem;
	font-weight: 500;
    line-height: 3.2rem;
    letter-spacing: -0.03rem;
    color: #000000;
}
.imp_point li .sub_txt {
    font-size: 1.6rem;
    line-height: 1.8rem;
    letter-spacing: -0.03rem;
    color: rgba(0,0,0,0.8);
}



/* 입력페이지  ex-정품인증 */
.input_contents_wrap {
    max-width: 98rem;
    margin: 0 auto;
	border-radius: 1.2rem;
    background-color: #FFFFFF;
}
.input_contents_wrap > .wrap {
    max-width: 52rem;
    margin: 0 auto;
    padding: 10rem 0;
}
.input_contents_wrap .text_wrap {
    margin-bottom: 6rem;
    text-align: center;
}
.input_contents_wrap .text_wrap h3 {
	font-size: 2.4rem;
    letter-spacing: -0.03rem;
	color:#433A34;
}
.input_contents_wrap .text_wrap p {
    margin-top: 1.5rem;
	font-size: 1.5rem;
	line-height: 2.6rem;
    letter-spacing: -0.025rem;
	color:#888;
}
.input_contents_wrap .input_box {
    margin-bottom: 5rem;
}
.input_contents_wrap .input_box input~input {
    margin-top: 1rem;
}



/* 공통 - 헤더 */
.header_con .top_wrap {
	position: absolute; 
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	color:#fff;
}
.header_con .top_logo {
	padding-top: 4.6rem;
}
.header_con .top_logo a {
	display: block;
	width: 14.5rem;
	height: 3.3rem;
	margin: 0 auto;
    background-image: url(../images/header_logo.png);
    background-repeat: no-repeat;
    background-size: 14.5rem;
}
.header_con .top_tnb {
	position: absolute;
    top: 3rem;
    left: 16rem;
	min-width: 11.1rem;
}
.header_con .top_tnb > p {
	font-size: 1.6rem;
	font-family: "AmstelvarAlpha", serif;
	letter-spacing: -0.1rem;
}
.header_con .top_tnb ul {
	display: none;
    /* height: 13.4rem; */
	margin-top: 0.5rem;
    padding: 1.6rem 0.9rem 1.2rem;
    background: rgba(59, 50, 66, 0.2);
    border-radius: 0.6rem;
	transition: height 0.5s;
}
.header_con .top_tnb ul li a {
	display: block;
	font-size: 1.5rem;
	line-height: 1.7;
	letter-spacing: -0.1rem;
	background: url(../images/header_icon_quick_arr.svg) no-repeat center right;
	color:rgba(255,255,255,0.4);
}
.header_con .top_tnb ul li a:hover {
	color: #FAEFD8;
	font-weight: 500;
	background: url(../images/header_icon_quick_arr_hover.svg) no-repeat center right;
}
.header_con .top_tnb:hover {}
.header_con .top_addr {
	position: absolute;
    top: 4.7rem;
    right: 26rem;
	padding-left: 3rem;
	font-family: 'Pretendard';
	font-size: 1.5rem;
	letter-spacing: -0.03rem;
	background-image: url(../images/header_icon_location.png);
	background-repeat: no-repeat;
	background-position: center left;
}
.header_con .top_menu {
	position: absolute;
    top: 3.7rem;
    right: 16rem;
}
.header_con .top_menu button {
	width: 4rem;
	height: 4rem;
	font-size: 0;
	background-image: url(../images/header_icon_menu.png);
    background-repeat: no-repeat;
    background-size: 4rem;
	background-color: transparent;
}
.header_con .top_wrap.fixed {
	position: fixed;
	top: -10rem;
	background-color: rgba(255,255,255,1);
	box-shadow: 0.2rem 0.2rem 0.6rem rgba(87,58,52,0.25);
	transition: all 0.5s;
}
.header_con .top_wrap.fixed .top_logo {
	padding: 4.6rem 0 2.1rem;
}
.header_con .top_wrap.down {
	top: 0;	
}
.header_con .top_wrap.fixed,
.header_con .top_wrap.black {
	color:#433a42
}
.header_con .top_wrap.fixed .top_logo a ,
.header_con .top_wrap.black .top_logo a {
    background-image: url(../images/header_logo_black.png);
}
.header_con .top_wrap.fixed .top_addr,
.header_con .top_wrap.black .top_addr {
	background-image: url(../images/header_icon_location_black.png);
}
.header_con .top_wrap.fixed .top_menu button,
.header_con .top_wrap.black .top_menu button {
	background-image: url(../images/header_icon_menu_black.png);
}
.header_con .top_wrap.fixed .top_addr {
	top: 4.7rem;
}
.header_con .top_wrap.fixed .top_menu {
	top: 3.7rem;
}
.header_con .top_wrap.fixed .top_tnb {
	top: 3rem;
}




/* 공통 - gnb */
.gnb_wrap {
	display: none;
	overflow: scroll;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #F8F6F0;
	z-index: 200;
}
.gnb_top .gnb_logo {
	position: absolute;
	top: 4.6rem;
	left: calc(50% - 7.25rem);
	width: 14.5rem;
	height: 3.3rem;
	margin: 0 auto;
    background-image: url(../images/header_logo_black.png);
    background-repeat: no-repeat;
    background-size: 14.5rem;
}
.gnb_top .gnb_guest {
	display: flex;
	position: absolute;
    top: 4.7rem;
	right: 26rem;
}
.gnb_top .gnb_guest a {
	position: relative;
	padding:0 1.6rem;
	font-size: 1.5rem;
	letter-spacing: -0.1rem;
	color:#A2B3BE;
}
.gnb_top .gnb_guest li~li a::before {
	content: '';
	display: block;
	position: absolute;
	height: 1.3rem;
	left: 0;
	top: 0.2rem;
	border-left: 1px solid #A6B7C2;
}
.gnb_top .gnb_member {
	display: flex;
	position: absolute;
    top: 4.7rem;
	right: 26rem;
    align-items: center;
}
.gnb_top .gnb_member p {
	margin-left: 1rem;
	font-size: 1.5rem;
	letter-spacing: -0.1rem;
	color:#A2B3BE;
}
.gnb_top .gnb_member span {
	margin-right: 0.5rem;
	font-size: 2rem;
	font-weight: 600;
	letter-spacing: 0.2rem;
	color:#433A34;
}
.gnb_top .btn_gnb_close {
	position: absolute;
	top: 3.7rem;
    right: 16rem;
	width: 4rem;
	height: 4rem;
	font-size: 0;
	background-image: url(../images/icon_close_black.svg);
    background-repeat: no-repeat;
    background-size: 4rem;
	background-color: transparent;
}
.gnb_top .btn_gnb_close img {
	width: 100%
}
.gnb_bot {
	margin-top: 12.5vw;
}
.gnb_bot .wrap {
	display: flex;
	padding: 0 3rem;
	justify-content: flex-end;
}
.gnb_bot .gnb_list {
	display: flex;
	max-width: 94rem;
    width: 60%;
    flex-wrap: wrap;
}
.gnb_bot .gnb_list > li {
	width: 33%;
    margin-bottom: 4rem;
}
.gnb_bot .gnb_list strong {
	font-family: "NanumMyeongjo";
	font-size: 2.8rem;
	font-weight: 700;
	letter-spacing: -0.1rem;
	color:#A2B3BE;
}
.gnb_bot .gnb_list ul {
	margin-top:3.8rem;
}
.gnb_bot .gnb_list ul li a {
	font-size: 2rem;
	line-height: 5.5rem;
	letter-spacing: -0.1rem;
	color:#433A34;
}
.gnb_bot .gnb_img {
	width: 37.1%;
}



/* 공통 sns 버튼 */
.sns_fixed_con {
	position: fixed;
	bottom: 6.5rem;
	right: 6.5rem;
	z-index: 300;
}
.sns_fixed_con {}
.sns_fixed_con .sns_list {
	overflow: hidden;
	/* width: 0; */
	height: 0;
}
.sns_fixed_con .sns_list li a {
	display: flex;
	width: 6.5rem;
	height: 6.5rem;
	margin-bottom: 2rem;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	font-size: 0;
    background-repeat: no-repeat;
	background-position: center center;
	background-color:#f9f9f9;
    opacity:0; 
	transform: translateY(30%);
	transition: all 1s;
}
.sns_fixed_con .sns_list .sns_youtube a {
	background-image: url(../images/icon_sns_youtube.png);
    background-size: 3.1rem;
}
.sns_fixed_con .sns_list .sns_insta a {
	background-image: url(../images/icon_sns_insta.png);
    background-size: 2.7rem;
}
.sns_fixed_con .sns_list .sns_blog a {
	background-image: url(../images/icon_sns_blog.png);
    background-size: 3.2rem;
}
.sns_fixed_con .sns_list .sns_kakao a {
	background-image: url(../images/icon_sns_kakao.png);
    background-size: 3rem;
}
.sns_fixed_con .btn_wrap button {
	width: 6.5rem;
	height: 6.5rem;
	border-radius: 50%;
	font-size: 0;
	background-image: url(../images/icon_sns_btn.svg);
    background-repeat: no-repeat;
    background-size: 3.2rem;
	background-position: center center;
	background-color: #A2B3BE;
	box-shadow: 0.2rem 0.2rem 0.2rem rgba(47,58,52,0.2);
	transition: all 1s;
}
.sns_fixed_con.open .sns_list {
	/* width: auto; */
	height: auto;
}
.sns_fixed_con.open .sns_list a {
    opacity:1; 
    transform: translateY(0%);
}
.sns_fixed_con.open .sns_list .sns_youtube a {
    transition-delay: 0.9s;
}
.sns_fixed_con.open .sns_list .sns_insta a {
    transition-delay: 0.7s;
}
.sns_fixed_con.open .sns_list .sns_blog a {
    transition-delay: 0.5s;
}
.sns_fixed_con.open .sns_list .sns_kakao a {
    transition-delay: 0.3s;
}

.sns_fixed_con.open .btn_wrap button {
	transform: rotate(45deg);
}



/* 공통 - 지도 */
.footer_top {
	display: flex;
	overflow: hidden;
    justify-content: flex-end;
	background-color: #F8F6F0;
}
.footer_top .wrap {
	display: flex;
	max-width: 167rem;
    width: 100%;
	padding-top: 7.4rem;
    justify-content: space-between;
}
.footer_top .footer_info {
	padding: 0 3rem;
}
.footer_top .footer_info .tit {
	font-family: 'AmstelvarAlpha';
	font-size: 3rem;
	letter-spacing: -0.1rem;
	color:#AA9B7A;
}
.footer_top .location_wrap {
	opacity: 0;
	transform: translateY(20rem);
}
.footer_top .location_wrap .addr {
    margin-top: 2.6rem;
	font-size: 2.2rem;
    font-weight: 500;
	letter-spacing: -0.1rem;
	color:#433A34;
}
.footer_top .location_wrap .addr_sub {
    margin-top: 1rem;
	font-size: 1.5rem;
	letter-spacing: -0.1rem;
	color:#A6B7C2
}
.footer_top .location_wrap .tel {
    margin-top: 1.1rem;
	font-family: 'AmstelvarAlpha';
	font-size: 2.3rem;
	letter-spacing: -0.1rem;
	color:#433A34
}
.footer_top .time_wrap {
    margin-top: 5.2rem;
	opacity: 0;
	transform: translateY(20rem);
}
.footer_top .time_wrap ul {
	margin-top: 3.4rem;
}
.footer_top .time_wrap ul li {
	font-size: 1.5rem;
	letter-spacing: -0.1rem;
	line-height: 3rem;
	color:#433A34;
}
.footer_top .time_wrap ul li b {
	display: inline-block;
	width: 8rem;
}
.footer_top .time_wrap ul li span {
	font-family: 'AmstelvarAlpha';
}
.footer_top .time_wrap .txt {
    margin-top: 1.8rem;
	font-size: 1.5rem;
	letter-spacing: -0.1rem;
	color:rgba(67,58,52,0.6);
}
.footer_top .footer_map {
	max-width: 107.2rem;
    width: 65%;
    height: 52.6rem;
	opacity: 0;
	transform: translateY(20rem);
}
.footer_top.active .location_wrap {
	opacity: 1;
	transform: translateY(0rem);
	transition: all 1s;
}
.footer_top.active .time_wrap {
	opacity: 1;
	transform: translateY(0rem);
	transition: all 1s 0.3s;
}
.footer_top.active .footer_map {
	opacity: 1;
	transform: translateY(0rem);
	transition: all 0.6s;
}



/* 공통 - 푸터 */
.footer_bottom {
	overflow: hidden;
	background-color: #A8B9C3;
}
.footer_bottom .wrap {
	max-width: 164rem;
	padding: 3.7rem 3rem 2.5rem;
	margin: 0 auto;
}
.footer_bottom ul {
	display: flex;
}
.footer_bottom ul li {

}
.footer_bottom ul li a {
	position: relative;
	padding: 0 1.9rem;
	font-size: 1.8rem;
	color: #FFFFFF;
}
.footer_bottom ul li:first-child a {
	padding-left: 0;
}
.footer_bottom ul li~li a::before {
	content: '';
	display: block;
	position: absolute;
	height: 1.6rem;
	left: 0;
	top: 0.3rem;
	border-left: 1px solid #Fff;
}
.footer_bottom p {
	margin: 2.5rem 0 1.2rem 0;
}
.footer_bottom span {
	font-size: 1.5rem;
	line-height: 2.6rem;
	color: rgba(255,255,255,0.4)
}



/* 팝업 공통 */
.layer_popup {
	position: fixed;
	visibility: hidden;
	top: 0;
    left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.layer_popup .pop_bg {
	max-width: 100%;
	height: 100%;
	background-color: rgba(117,147,167,0.6); 
}
.layer_popup .pop_con {
	position: fixed;
	top: calc(50% - 18rem);
	left: calc(50% - 26rem);
	max-width: 52rem;
	width: 100%;
	height: 36rem;
	padding-top: 12.2rem;
	text-align: center;
	border-radius: 1.2rem;
	background-color: #fff;
	transform: translateY(50rem);
	transition: all 0.5s 0.1s;
}
.layer_popup .btn_pop_close {
	position: absolute;
	top: 2rem;
	right: 2rem;
    width: 4rem;
	height: 4rem;
	font-size: 0;
	background-image: url(../images/icon_close_black.svg);
    background-repeat: no-repeat;
    background-size: 4rem;
	background-color: transparent;
}
.layer_popup .pop_icon {
	display: inline-block;
	width: 3rem;
	height: 3rem;
	background-image: url(../images/icon_pop_success.png);
    background-repeat: no-repeat;
    background-size: 3rem;
}
.layer_popup .main_txt {
	margin: 2rem 0 2.6rem;
	font-size: 2rem;
    line-height: 3.4rem;
	font-weight: 500;
	color: #7593A7;
}
.layer_popup .sub_txt {
	font-size: 1.5rem;
	line-height: 2rem;
	color: #7593A7;
}
.layer_popup .close_txt {
	position: absolute;
	bottom: 2rem;
	left: 0;
	width: 100%;
	height: 2rem;
	text-align: center;
}
.layer_popup .close_txt span {
	display: inline-block;
	position: relative;
	font-size: 1.5rem;
	color: #A6B7C2;
}
.layer_popup .close_txt span::before {
	content: '';
	position: absolute;
	bottom: 0.1rem;
	left: 0;
	width: 100%;
	border-bottom: 1px solid #A6B7C2;
}
.layer_popup .btn_pop_bot {
    display: inline-flex;
    width: 10rem;
    height: 5rem;
	margin-top: 1.5rem;
    justify-content: center;
    align-items: center;
    font-family: "Pretendard";
    font-size: 2rem;
    letter-spacing: -0.03rem;
    border-radius: 0.6rem;
    color: #fff;
    background-color: #6D8A9D;
}
.layer_popup.fail .pop_icon {
	background-image: url(../images/icon_pop_fail.png);
}
.layer_popup.fail .sub_txt {
	color: #DB8A8A;
}
.layer_popup.active {
	visibility: visible;
	z-index: 1000;
}
.layer_popup.active .pop_con {
	transform: translateY(0);
}
/* 팝업 개인정보 */
.popup_policy .pop_con {
	top: calc(50% - 16rem);
	left: calc(50% - 30rem);
	max-width: 60rem;
	height: 32rem;
	width: 100%;
	padding: 3rem 4rem 1.5rem;
}
.popup_policy .btn_pop_close {
	background-image: url(../images/icon_close_main.svg);
}
.popup_policy .main_txt {
	margin: 0;
	margin-bottom: 3rem;
    text-align: center;
	line-height:1; 
}
.popup_policy .sub_txt {
	padding-right: 1rem;
	text-align: left;
}
.popup_policy .scroll_box {
	overflow-y: scroll;
	height: 16rem;
}
.popup_policy .scroll_box::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 2px;
}
.popup_policy .scroll_box::-webkit-scrollbar-track {
	border-radius: 2px;
}
.popup_policy .scroll_box::-webkit-scrollbar-thumb {
	background: #A6B7C2;
	border-radius: 2px;
}







@media screen and (max-width:1600px){
	.header_con .top_tnb {
		left: 3rem;
	}
	.header_con .top_addr {
		right: 13rem;
	}
	.header_con .top_menu {
		right: 3rem
	}
	.gnb_top .btn_gnb_close {
		right: 3rem;
	}
	.gnb_top .gnb_guest,
	.gnb_top .gnb_member {
		right: 13rem;
	}
}

@media screen and (max-width:1400px){
    html {
		font-size: 9px;
	}
}

/* 태블릿 */
@media screen and (max-width:1024px){
    html {
		font-size: 8px;

	}
	.header_con .top_addr {
		display: none;
	}
}

/* 모바일 */
@media screen and (max-width:768px){
	html {
		/* 디자인 375px 기준,  1rem => 10px */
		font-size: 2.667vw;
	}
	.ver_pc {
		display: none;
	}
	.ver_mo {
		display: block;
	}

	.page_title.type01 {
		margin-left: 1.2rem;
	}
	.page_title.type01 .txt {
        margin-bottom: 0.5rem;
		font-size: 1.2rem;
		line-height: 1.5rem;
	}
	.page_title.type01 .tit {
		font-size: 3rem;
		line-height: 3.8rem;
	}
	.page_title.type01 .sub_txt {
		margin-top: 0.5rem;
		font-size: 1.4rem;
		line-height: 1.5rem;
	}
	
	.page_title.type02 {
		padding: 12.4rem 0 10rem;
		background-position: top 8rem center ;
		background-size: 2.4rem;
	}
	.page_title.type02 .txt {
		margin-bottom: 2rem;
		font-size: 1.5rem;
		line-height: 1;
	}
	.page_title.type02 .tit {
		font-size: 3rem;
		line-height: 4.2rem;
	}
	.page_title.type02 .sub_txt {
		margin-top: 2rem;
		font-size: 1.4rem;
		line-height: 2.4rem;
	}

	.text_set .tit_sub {
		font-size: 1.6rem;
		line-height: 1.9rem;
	}
	.text_set .tit {
		font-size: 1.8rem;
		line-height: 2.3rem;
	}
	.text_set .txt {
		margin-top: 2rem;
		font-size: 1.4rem;
		line-height: 2.4rem;
        letter-spacing: -0.035rem;
	}
	.text_set .txt~.txt {
		margin-top: 2rem;
	}

	.text_set.type02 {
		padding-top: 4.4rem;
		background-size: 2.4rem;
	}
	.text_set.type02 .tit_sub {
		margin-bottom: 1rem;
	}
	.text_set.type02 .tit {
		line-height: 2.5rem;
	}
	.text_set.type02 .txt {
		margin-top: 2rem;
		font-size: 1.4rem;
	}

	.input_tit {
		margin-bottom: 1rem;
		font-size: 1.6em;
	}
	.input_tit span {
		margin-left: 0.6rem;
		font-size: 1.4rem;
	}
	
    .input_info .txt {
        margin-top: 0.6rem;
		font-size: 1.2rem;
    }

	
	/* 서브콘텐츠 */
	.imp_point li {
		width: 7.5rem;
	}
	.imp_point li .txt {
		margin-top: 1rem;
		font-size: 1.3rem;
		line-height: 1.4rem;
	}
	.imp_point li .sub_txt {
		margin-top: 0.5rem;
		font-size: 1rem;
		line-height: 1rem;
	}



	/* 공통 input */
	.ui_radio span {
		font-size: 1.2rem;
	}
	.ui_textarea {
		padding: 1.5rem 0.85rem 1.5rem 1.5rem
	}
	.ui_textarea textarea {
		font-size: 1.2rem;
	}
	.ui_input {
		height: 5.2rem;
        padding: 1.6rem 1.5rem;
        font-size: 1.2rem;
        border-radius: 0.6rem;
	}
	.ui_input:disabled {
		font-size: 1.6rem;
	}
	.ui_select {
		height: 5.2rem;
	}
	.ui_select > .wrap {
		height: 5.2rem;
	}
	.ui_select button {
		height: 5.2rem;
		font-size: 1.2rem;
		background-size: 1.4rem;
		background-position: center right 2.4rem;
	}
	.ui_select ul {
		padding: 0 2.4rem 0.7rem 1.5rem;
	}
	.ui_select .option:first-child {
		padding-top: 0;
	}
	.ui_select .option label {
		padding:0 0.5rem;
		font-size: 1.4rem;
	}
	.ui_file span{
		padding-left: 3.6rem;
		font-size: 1.2rem;
		line-height: 2.6rem;
		background-size: 2.6rem;
	}
	.ui_file span::before {
		bottom: 0.5rem;
		width: calc(100% - 3.6rem);
	}
	.input_grid2 {
		display: block;
	}
	.input_grid2 > .wrap {
		width: 100%;
	}


	.btn_cancel,
	.btn_main {
		height: 5.2rem;
		font-size: 1.4rem;
	}
	.btn_confirm_wrap {
		margin-top: 6rem;
	}
	.btn_confirm_wrap .btn_cancel {
		flex: 0 0 8rem;
		margin-right: 1rem;
	}
	.btn_arr_border,
	.btn_arr {
		font-size: 1.4rem;
		background-position: center right 2rem;
	}

	.tab_wrap {
		position: relative;
		z-index: 1;
	}
	.ui_tab {
		position: relative;
		width: 100%;
		height: 5.2rem;
	}
	.ui_tab > .wrap {
		overflow: hidden;
		width: 100%;
		height: 5.2rem;
		border: 1px solid #A6B7C2;
		border-radius: 0.6rem;
	}
	.ui_tab .btn_tab_open {
		display: flex;
		align-items: center;
		width: 100%;
		height: 5.2rem;
		border: 0 none;
		outline: 0 none;
		padding-left: 1.54rem;
		font-family: "Pretendard";;
		font-size: 1.2rem;
		background-image: url(../images/icon_ui_select.png);
		background-repeat: no-repeat;
		background-size: 1.4rem;
		background-position: center right 2.4rem;
		background-color: #E8ECEE;
		color: #A2B3BE;
	}
	.ui_tab ul{
		display: block;
		overflow: hidden;
		width: 100%;
		padding: 0 2.4rem 0.7rem 1.5rem;
		list-style-type: none;
		border-radius: 0 0 0.6rem 0.6rem;
		background-color: #EDF1F3;
		color: #fff;
		transition: .3s ease-in;
	}
	.ui_tab ul li {
		flex: unset;
	}
	.ui_tab ul button {
		padding: 0 1.5rem;
		font-family: "Pretendard";
		font-size: 1.4rem;
		line-height: 3.2rem;
		border-top: 1px solid rgba(166, 183, 194, 0.15);
        border-bottom: none;
		text-align: left;
		color: rgba(76, 102, 119, 0.5);
	}
	.ui_tab ul button.on  {
        border-bottom: none;
		color: rgba(76, 102, 119, 0.5);
	}
	.ui_tab ul button:hover {
		font-weight: 500;
		color:#FAEFD8;
		background: #A6B7C2
	}
	.ui_tab.active {
		z-index: 1;
	}
	.ui_tab.active > .wrap {
		height: auto;
	}
	.ui_tab.active .btn_tab_open {
		color: #4C6677;
		background-image: url(../images/icon_ui_select_on.png);
	}

	
	/* 입력페이지  ex-정품인증 */
	.input_contents_wrap > .wrap {
		padding: 5rem 1.3rem 6rem;
	}
	.input_contents_wrap .text_wrap {
		margin-bottom: 4rem;
	}
	.input_contents_wrap .text_wrap h3 {
		font-size: 1.8rem;
	}
	.input_contents_wrap .text_wrap p {
		margin-top: 2rem;
		font-size: 1.2rem;
		line-height: 2.2rem;
	}
	.input_contents_wrap .input_box {
		margin-bottom: 3rem;
	}

	
	.header_con .top_tnb,
	.gnb_bot .gnb_img {
		display: none;
	}

	.header_con .top_logo {
		padding-top: 4rem;
	}
	.header_con .top_logo a {
		width: 8rem;
        height: 1.8rem;
		background-size: 8rem;
	}
	.header_con .top_menu {
		top: 3rem;
		right: 2rem;
	}
	.header_con .top_wrap.fixed .top_menu {
		top: 3rem;
	}
	.header_con .top_wrap.fixed .top_logo {
		padding: 4rem 0 1.1rem;
	}
	.gnb_top .gnb_logo {
		width: 8rem;
        height: 1.8rem;
		top: 4rem;
		left: calc(50% - 4rem);
		background-size: 8rem;
	}
	.gnb_top .gnb_guest {
		position: fixed;
		top: auto;
        right: auto;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1rem 0 4rem 2.5rem;
        background: #F8F6F0;
	}
	.gnb_top .gnb_member {
		position: fixed;
		top: auto;
		right: auto;
		bottom: 0;
		left: 0;
        right: 0;
        padding: 1rem 0 4rem 4rem;
        background: #F8F6F0;
	}
	.gnb_top .btn_gnb_close {
		top: 3rem;
		right: 2rem;
	}
	.gnb_bot {
		margin-top: 15rem;
		margin-bottom: 2rem;
	}
	.gnb_bot .wrap {
		padding: 0 4.3rem;
	}
	.gnb_bot .gnb_list {
		display: block;
		width: 100%;
		max-width: unset;
	}
	.gnb_bot .gnb_list > li {
		width: 100%
	}
	.gnb_bot .gnb_list strong {
		font-size: 2.2rem;
	}
	.gnb_bot .gnb_list ul {
		display: none;
		margin-top: 2rem;
	}
	.gnb_bot .gnb_list ul li a {
		font-size: 1.4rem;
		line-height: 2.8rem;
	}
	.sns_fixed_con {
		bottom: 4rem; 
		right: 2rem;
	}
	.sns_fixed_con .btn_wrap button {
		width: 4rem;
		height: 4rem;
        padding: 1rem;
		background-size: 2rem;
	}
	.sns_fixed_con .sns_list li a {
		width: 4rem;
		height: 4rem;
        padding: 1.2rem 1rem;
    }
	.sns_fixed_con .sns_list .sns_youtube a {
		background-size: 1.9rem;
	}
	.sns_fixed_con .sns_list .sns_insta a {
		background-size: 1.6rem;
	}
	.sns_fixed_con .sns_list .sns_blog a {
		background-size: 2rem;
	}
	.sns_fixed_con .sns_list .sns_kakao a {
		background-size: 1.8rem;
	}
	.footer_top .wrap {
		display: block;		
        padding: 8rem 2.7rem 2rem 2.7rem;
	}
	.footer_top .footer_info {
		padding: 0;
	}
	.footer_top .footer_info .tit {
		font-size: 2rem;
	}
	.footer_top .location_wrap .addr {
		margin-top: 2rem;
		font-size: 1.5rem;
	}
	.footer_top .location_wrap .addr_sub {
		margin-top: 0.7rem;
		font-size: 1.2rem;
	}
	.footer_top .location_wrap .tel {
		margin-top: 1.4rem;
		font-size: 1.8rem;
	}
	.footer_top .time_wrap {
		margin-top: 4rem;
	}
	.footer_top .time_wrap ul {
		margin-top: 2rem;
	}
	.footer_top .time_wrap ul li {
		font-size: 1.2rem;
		line-height: 2.4rem;
	}
	.footer_top .time_wrap ul li b {
		width: 8rem;
	}
	.footer_top .time_wrap .txt {
		margin-top: 1.4rem;
		font-size: 1.2rem;
		line-height: 1.8rem;
	}
	.footer_top .footer_map {
		width: 100%;
		height: 18rem;
		margin-top: 2rem;
	}
	.footer_bottom .wrap {
		padding: 3rem 2rem 2.5rem;
	}
	.footer_bottom ul li a {
		font-size: 1.4rem;
		padding: 0 1rem;
	}
	.footer_bottom ul li~li a::before {
		height: 1.2rem;
		top: 0.2rem;
	}
	.footer_bottom p {
		margin: 1rem 0 2.4rem 0;
	}
	.footer_bottom span {
		font-size: 1.2rem;
		line-height: 2rem;
	}
	.footer_bottom .footer_logo {
		width: 8rem;
	}

	.layer_popup .pop_con {
		max-width: 34rem;
		height: 32rem;
        left: calc(50% - 17rem);
		padding-top: 10.8rem;
	}
	.layer_popup .main_txt {
		margin: 1.8rem 0 2rem;
	}
	.layer_popup .btn_pop_bot {
		height: 4.2rem;
		font-size: 1.6rem;
	}
	/* 팝업 개인정보 */
	.popup_policy .pop_con {
		top: 10%;
		height: 80%;
		width: 100%;
		padding: 3rem 2rem 1.5rem;
	}
	.popup_policy .pop_con > .wrap {
		height: 100%;
	}
	.popup_policy .main_txt {
        margin-top: 0;
		margin-bottom: 3rem;
	}
	.popup_policy .sub_txt {
		padding-right: 1rem;
	}
	.popup_policy .scroll_box {
		height: calc(100% - 11.5rem);
	}
	
		
	/* 서브비주얼 */
	.sub_visual_con {
		height: 40rem;
	}
	.sub_visual_txt {
		padding-top: 12rem;
		padding-left: 2rem;
	}
	.sub_visual_txt .txt {
		font-size: 1.2rem;	
        line-height: 1.5rem;
		/* text-shadow: 0 0.2rem 0.6rem rgba(0,0,0,0.2); */
	}
	.sub_visual_txt .tit {
		font-size: 3.4rem;	
        line-height: 4.5rem;
		text-shadow: 0 0.2rem 0.6rem rgba(0,0,0,0.2);
	}
	.sub_visual_txt .sub_txt {
		font-size: 1.4rem;
		line-height: 2.2rem;
		text-shadow: 0 0.2rem 0.6rem rgba(0,0,0,0.2)
	}
}