
/* 인트로, 메인비주얼 */
.main_visual_con {
	overflow: hidden;
	position: relative;
}
.main_visual_con .intro_wrap {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
    padding-top: 56.2%;
	z-index: 1000;
	
}
.main_visual_con .intro_wrap .intro_bg {
	position: absolute;
	top: calc(100% - 100vw);
    left: calc(50% - 100vw);
	width: 0;
    height: 0;
	border: 100vw solid #433A34;
	border-radius: 50% 50% 0 0;
	box-sizing: content-box;
	opacity: 100%;
	transition: all 0.5s 0.5s;
}
.main_visual_con .intro_wrap .intro_logo {
	position: absolute;
    top: calc(50% - 10.7rem);
    left: calc(50% - 29rem);
	width: 56.96rem;
	transition: opacity 0.5s;
}

.main_visual_con .intro_wrap.play .intro_bg{
	/* top: -42rem; */
	top: -39%;
    left: -28vw;
    width: 100%;
    height: 0;
	padding-top: 100%;
    opacity: 80%;
    border: 28vw solid #433A34;
}
.main_visual_con .intro_wrap.play .intro_logo{
	opacity: 0%;
}
.main_visual_con .intro_wrap.end{
	z-index: 1;
}
.main_visual_con .intro_wrap.end .intro_bg{
	transition: none;
}
.main_visual_con .visual_wrap {
	
}
.main_visual_con .visual_wrap .ver_pc {
	position:relative;
	/* padding:56.25% 0 0 0; */
}
.main_visual_con .visual_wrap .ver_mo {
	position:relative;
	/* padding:217.11% 0 0 0; */
}
.main_visual_con .visual_wrap iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.main_visual_con .visual_txt {
	position: absolute;
    top: 20.5vw;
    left: calc(50% - 29rem);
	width: 56.96rem;
	text-align: center;
	font-family: "YaldeviColombo";
	font-size: 6rem;
	font-weight: 300;
	letter-spacing: -0.1rem;
	color: #fff;
    transform: scaleX(0.9);
}
.main_visual_con .notice_wrap {
	position: absolute;
	top: 8.7rem;
	right: 16rem;
	z-index: 10;
}
.main_visual_con .notice_wrap .wrap {
	display: flex;
	padding: 0.5rem 1rem 0.5rem 2rem;
	background: #000;
	border-radius: 3rem;
	align-items: center;
}
.main_visual_con .notice_wrap b{
	margin-right: 1.1rem;
	font-size: 1.2rem;
	line-height: 2rem;
	letter-spacing: -0.1rem;
	color: #fff;
	font-weight: 500;
}
.main_visual_con .notice_wrap p {
    overflow: hidden;
	width: 14.4rem;
	margin-right: 1.9rem;
	font-size: 1.2rem;
	line-height: 2rem;
	letter-spacing: -0.1rem;
	text-overflow: ellipsis;
    white-space: nowrap;
	color: rgba(255,255,255,0.5);
}
.main_visual_con .notice_wrap button {
	background: none;
}

.main_visual_con .btn_wrap {
	position: absolute;
	bottom: 6.56vw;
    left: calc(50% - 15rem);
	z-index:100;
}
.main_visual_con .btn_wrap::before {
	content: '';
	display: block;
	position: absolute;
	width: 6vw;
	height: 6vw;
    bottom: -1vw;
    right: -3.6vw;
	background: url(../images/main_deco_sym_light.png) no-repeat;
	background-size: 6vw ;
	animation: mv_deco_roatae 10s linear infinite; 
	/* animation-iteration-count: infinite; */
}
@keyframes mv_deco_roatae {
	0% {transform: rotate(0)}
	100% {transform: rotate(360deg)}
}

.main_visual_con .btn_wrap a {	
	display: block;
    position: relative;
	border-radius: 2.7rem;
	background: linear-gradient(to right, rgb(255, 255, 255), rgb(170, 155, 122));
}
.main_visual_con .btn_wrap a span {
	display: block;
	position: relative;
	width: 30rem;
	height: 5.4rem;
	padding-left: 3.7rem;
	border-radius: 2.7rem;
	font-family: "Nanum Myeongjo";
	font-size: 1.8rem;
	font-weight: 600;
	letter-spacing: -0.1rem;
    line-height: 5.4rem;
	/* background: url(../images/btn_icon_arr_light.svg) no-repeat center right 3.8rem #F7F6F0; */
	background-image: url(../images/btn_icon_arr_light.svg);
	background-repeat: no-repeat;
	background-position: center right 3.8rem;
	background-size: 3rem;
	background-color: #F7F6F0;
	color: #AA9B7A;
	transition: all 0.3s;
}
.main_visual_con .btn_wrap a:hover span {
	background-image: url(../images/btn_icon_arr_white.svg);
	background-color: transparent;
	box-shadow: 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.25);
}


.main_video_con .wrap {
	max-width:140rem;
	margin: 0 auto;
	padding: 16rem 0;
}
.main_video_con .ver_pc {
	position:relative;
	padding:56.25% 0 0 0;
}
.main_video_con .ver_mo {
	position:relative;
	padding:106.95% 0 0 0;
}
.main_video_con iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}



/*  */
.main_oao_con {}
.main_oao_con .wrap {
	overflow: hidden;
	position: relative;
	padding: 0 5rem;
	margin-top: 10rem;
	margin-bottom: 6rem;
}
.main_oao_con .txt_wrap {
	position: absolute;
    width: 60rem;
	top: 25.3rem;
	bottom: auto;
    left: calc(50% - 30rem);
	text-align: center;
	z-index: 1;
}
.main_oao_con .txt_wrap.bottom {
	top:auto;
	bottom: 13vw;
}
.main_oao_con .txt_wrap.fixed {
	position: fixed;
	top:calc(50% - 20rem);
}
.main_oao_con .scr_chk_point {
	visibility: hidden;
	position: absolute;
	left: 80%;
}
.main_oao_con .scr_chk_point.point01 {
	top: 44.3rem;
}
.main_oao_con .scr_chk_point.point02 {
	bottom: 24vw;
}
.main_oao_con .scr_chk_point.point03 {
	top: 57rem;
}
.main_oao_con .scr_chk_point.point04 {
	top: 55rem;
}
.main_oao_con .txt_wrap .sub_tit {
	font-size: 2rem;
	letter-spacing: -0.1rem;
	line-height: 1;
	color:#625448;
}
.main_oao_con .txt_wrap .tit {
	margin-top: 2rem;
	font-family: "AmstelvarAlpha", serif;
	font-size: 8rem;
	letter-spacing: -0.1rem;
	line-height: 1;
	color:#322C28;
    transform: scaleX(0.8);
}
.main_oao_con .txt_wrap .txt {
	margin-top: 5rem;
	font-size: 1.8rem;
	letter-spacing: -0.1rem;
	line-height: 3rem;
	color:#433A34;
}
.main_oao_con .txt_wrap a {
	display: inline-block;
	position: relative;
	width: 30rem;
	height: 4.8rem;
	margin-top: 11.7rem;
	padding-left: 2.7rem;
	border-radius: 2.4rem;
	font-size: 1.5rem;
	letter-spacing: -0.1rem;
    line-height: 4.8rem;
	text-align: left;
	background-image: url(../images/btn_icon_arr_dark.svg);
	background-repeat: no-repeat;
	background-position: center right 3.8rem;
	background-size: 3rem;
	border: 0.1rem solid #8D7F74;
	color: #433A34;
}
.main_oao_con .oao_wrap {
	display: flex;
	position: relative;
	height: calc(31.36vw + 30.3rem);
    justify-content: space-between;
}
.main_oao_con .oao_wrap~.oao_wrap {
	margin-top: 17rem;
}
.main_oao_con .img_wrap {
	overflow-y: clip;
	position: relative;
	max-width: 55rem;
	width: 31%;
}
.main_oao_con .img_left {
	align-self: flex-start;
}
.main_oao_con .img_right {
	margin-top: 27.3rem;
}
.main_oao_con .img_04.active {
	transition: none;
}
.main_oao_con .img_04.fixed {
	position: fixed;
	top: calc(50% - 30rem);
	right: 5rem;
	width: 29%;
	margin-top: 0;
}
.main_oao_con .img_04.bottom {
	top: calc(31.36vw + 47.3rem);
}

.main_oao_con .img_wrap a {
    display: block;
    overflow: hidden;
    width: 100%;
	opacity: 0;
	transform: translateY(20rem);
}
.main_oao_con .img_wrap:hover img {
	transform: scale(1.2);
	transition: all 0.5s;
}
.main_oao_con .img_wrap p {
	margin-top: -3rem;
	font-family: "AmstelvarAlpha", serif;
	font-size: 6rem;
	letter-spacing: -0.1rem;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	color:#322C28;
}
.main_oao_con .img_wrap p span {
	display: inline-block;
    transform: scaleX(0.8);
}
.main_oao_con .img_wrap p span.point {
    overflow: hidden;
	position: absolute;
	left:0;
	bottom: 3rem;
	width: 100%;
    height: 3rem;
	color: #FAEFD8;
    transform: scaleX(0.8);
}
.main_oao_con .img_left p {
	margin-left: -1rem;
}
.main_oao_con .img_02 p {
	margin-right: -2rem;
}
.oao_wrap .img_wrap.active a {
	opacity: 1;
	transform: translateY(0);
	transition: all 1s;
}



/*  */
.main_personal_con {
	background: #eef1f3;
}
.main_personal_con .wrap {
	display: flex;
    max-width: 162.4rem;
    margin: 0 auto;
	padding: 6rem 9rem 6rem 1rem;
    justify-content: space-between;
	align-items: center;
}
.main_personal_con .personal_img_wrap {
	position: relative;
	width: 95.8rem;
	height: 64rem;
}
.main_personal_con .personal_img_wrap img {
	position: absolute;
	opacity: 0;
	transform: translateY(20rem);
}
.main_personal_con .personal_img_wrap .img01 {
	/* top: 10.6rem;
	left: 10rem;
	width: 81.2rem; */
    top: 16.5%;
    left: 10.5%;
	width: 84.8%;
}
.main_personal_con .personal_img_wrap .img02 {
	/* width: 24.9rem; */
	top: 0;
	left: 0rem;
	width: 26%;
}
.main_personal_con .personal_img_wrap .img03 {
	/* bottom: 6.7rem;
	left: 49.6rem;
	width: 11rem; */
    left: 51.8%;
    bottom: 10.5%;
	width: 11.5%;
}
.main_personal_con .personal_img_wrap .img04 {
	/* left: 61.5rem;
	width: 13.8rem; */
    left: 64.2%;
	bottom: 0;
	width: 14.5%;
}
.main_personal_con .personal_img_wrap .img05 {
	/* bottom: 4rem;
	width: 19.6rem; */
	width: 20.46%;
	right: 0rem;
    bottom: 6.3%;
}
.main_personal_con .personal_txt_wrap {
	margin-top: 19.2rem;
    padding-left: 2rem;
	opacity: 0;
	transform: translateY(20rem);
}
.main_personal_con .personal_txt_wrap .tit01 {
	font-family: "AmstelvarAlpha", serif;
	font-size: 1.8rem;
	/* letter-spacing: -0.1rem; */
	color:#AA9B7A;
    transform: scaleX(0.9) translateX(-2rem);
}
.main_personal_con .personal_txt_wrap .tit02 {
	margin-top: 1rem;
	font-family: "Nanum Myeongjo";
	font-size: 2.2rem;
	font-weight: 600;
	letter-spacing: -0.1rem;
	color: #433A34;
}
.main_personal_con .personal_txt_wrap .txt{
	margin-top: 4.5rem;
	font-size: 1.8rem;
	letter-spacing: -0.03rem;
    line-height: 3rem;
	color: #433A34;
}
.main_personal_con.active .personal_txt_wrap {
	opacity: 1;
	transform: translateY(0rem);
	transition: all 1s;
}
.main_personal_con.active .personal_img_wrap .img01 {
	opacity: 1;
	transform: translateY(0);
	transition: all 1s 0.2s;
}
.main_personal_con.active .personal_img_wrap .img02 {
	opacity: 1;
	transform: translateY(0);
	transition: all 1s 0.4s;
}
.main_personal_con.active .personal_img_wrap .img03 {
	opacity: 1;
	transform: translateY(0);
	transition: all 1s 0.6s;
}
.main_personal_con.active .personal_img_wrap .img04 {
	opacity: 1;
	transform: translateY(0);
	transition: all 1s 0.8s;
}
.main_personal_con.active .personal_img_wrap .img05 {
	opacity: 1;
	transform: translateY(0);
	transition: all 1s 1s;
}


/*  */
.main_care_con .wrap {
    max-width: 150rem;
    margin: 0 auto;
    padding: 25rem 0;
}
.main_care_con .care_wrap {
    display: flex;
	overflow: hidden;
	position: relative;
    width: 100%;
	margin-left: 5rem;
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.main_care_con .care_wrap~.care_wrap{
	margin-top: 25rem;
}
.main_care_con .care_tit {
    position: absolute;
    top: calc(50% - 10.5rem);
    left: calc(50% - 16rem);
	width: 34rem;
	height: 12rem;
	text-align: center;
	font-family: "AmstelvarAlpha", serif;
    transform: scaleX(0.9) translateY(20rem);
	opacity: 0;
	z-index: 1;
}
.main_care_con .care_tit .tit {
    margin-top: 2.8rem;
	font-size: 4rem;
	letter-spacing: -0.1rem;
	color: #8D7F74;
}
.main_care_con .care_tit .num {
    margin-top: 3rem;
	margin-left: -3rem;
	font-size: 3.5rem;
	letter-spacing: -0.1rem;
	color: #C7C7C7;
}
.main_care_con .care_img {
	max-width: 50%;
	opacity: 0;
    transform: translateY(20rem);
}
.main_care_con .care_left {
	max-width: 35%;
	margin-top: 6rem;
	opacity: 0;
    transform: translateY(20rem);
}
.main_care_con .care_02 .care_left {
	margin-top: -2rem;
}
.main_care_con .care_left .txt {
    margin-top: 5.2rem;
	font-size: 1.8rem;
	letter-spacing: -0.1rem;
	color: #A6B7C2;
}

.main_care_con .care_left .tit {
    margin-top: 1rem;
	font-family: "Nanum Myeongjo";
	font-size: 2.2rem;
	font-weight: 600;
	letter-spacing: -0.1rem;
	color: #433A34;
}
.care_wrap.active .care_img {
	opacity: 1;
    transform: translateY(0rem);
	transition: all 1s;
}
.care_wrap.active .care_left {
	opacity: 1;
    transform: translateY(0rem);
	transition: all 1s 0.3s;
}
.care_wrap.active .care_tit {
	opacity: 1;
    transform: scaleX(0.9) translateY(0rem);
	transition: all 1s 0.6s;
}


/*  */
.main_slogan_con .wrap {
	position: relative;
	height: 60rem;
    padding: 12.4rem 0;
	text-align: center;
	background: url(../images/main_deco_sym.png) no-repeat;
	background-position: bottom 16.4rem left 26.1rem;
	background-size: 16.9rem ;
	opacity: 0;
}
.main_slogan_con .tit {
	font-family: "AmstelvarAlpha";
	font-size: 8rem;
	line-height: 10rem;
	letter-spacing: -0.1rem;
	color: #433A34;
    transform: scaleX(0.8) translateY(3rem);
	opacity: 0;
}
.main_slogan_con .wrap::before {
	content: '';
	display: block;
	position: absolute;
	bottom: 19.8rem;
	left: calc(50% + 25rem);
	right: 50%;
	border-bottom: 1px solid #433a34;	
}
.main_slogan_con .txt {
    margin-top: 1rem;
	font-family: "AmstelvarAlpha";
	font-size: 3.4rem;
	line-height: 4rem;
	letter-spacing: -0.1rem;
	color: #8D7F74;
    filter: blur(2px);
    transform: translateY(3rem);
	opacity: 0
}
.main_slogan_con.active .wrap {
	opacity: 1;
	background-position: bottom 19.4rem left 26.1rem;
	transition: all 1s;
}
.main_slogan_con.active .tit {
	opacity: 1;
    transform: scaleX(0.8) translateY(0);
	transition: all 1s 0.5s;
}
.main_slogan_con.active .txt {
	opacity: 1;
    transform: translateY(0);
	transition: all 1s 1s;
}
.main_slogan_con.active .wrap::before {
	right: 0;
	transition: all 1s 1.5s;
}


/* 의사소개 */
.main_dr_con {
	display: flex;
}
.main_dr_con .dr_slider {
	overflow: hidden;
	width: 85%;
}
.main_dr_con .dr_wrap {
	display: flex;
	position: relative;
    width: 50%;
	background: rgba(166, 183, 194, 0.15);
}
.main_dr_con .dr_img {
	position: relative;
    width: 50%;
}
.main_dr_con .dr_img::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(to bottom, rgba(212, 230, 241, 0), rgba(76, 102, 119, 0.42));
}
.main_dr_con .dr_con {
    width: 50%;
	padding: 25% 7.35% 0 7.35%;
}
.main_dr_con .dr_info .pos {
	font-family: "AmstelvarAlpha";
	/* font-size: 2.2rem;
	line-height: 2.6rem; */
    font-size: 1.14vw;
    line-height: 1.18;
	letter-spacing: -0.05rem;
	color: #C7C7C7;
}
.main_dr_con .dr_info .name_kr {
	font-family: "Nanum Myeongjo";
	/* font-size: 5rem;
	line-height: 6.3rem; */
	font-size: 2.58vw;
	line-height: 1.26;
	font-weight: 600;
	letter-spacing: -0.125rem;
	color: #625448;
}
.main_dr_con .dr_info .name_en {
	margin-top: 0.4rem;
	font-family: "AmstelvarAlpha";
	/* font-size: 2rem; */
	font-size: 1.03vw;
    line-height: 1.24vw;
	letter-spacing: 0.3rem;
	color: rgba(67, 58, 52, 0.6);
}
.main_dr_con .dr_motto {
	position: relative;
	margin-top: 50%;
	font-family: "Nanum Myeongjo";
	/* font-size: 2.2rem;
	line-height: 4.2rem; */
	font-size: 1.14vw;
    line-height: 1.9;
	letter-spacing: 0.055rem;
	text-align: center;
	color: #8D7F74;
}
.main_dr_con .dr_motto::before,
.main_dr_con .dr_motto::after {
	content: '';
	display: block;
	position: absolute;
	width: 10.77%; /* 31px */
    height: 30%; /* 25px */
	background-image: url(../images/icon_drs_dqm.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.main_dr_con .dr_motto::before {
	top: -21.4% /* -18px */;
	left: -0rem;
}
.main_dr_con .dr_motto::after {
	bottom: -21.4% /* -18px */;
	right: -0rem;
	transform: rotate(180deg);
}
.main_dr_con .dr_fix_wrap{
	display: flex;
	width: 15%;
	padding: 3.5% 0 3.33%;
	flex-flow: column;
	align-items: center;
	justify-content: space-between;
}
.main_dr_con .df_bot {
	padding: 0 2rem;
	text-align: center;
}
.main_dr_con .df_bot .txt {
	margin-bottom: 0.5rem;
	margin-bottom: 20%;
	font-size: 1.2rem;
	line-height: 1;
	word-break: keep-all;
	color: #625448;
}
.main_dr_con .df_bot .btn_arr_border {
	max-width: 23rem;
	width: 100%;
	height: 2.5vw;
    padding-left: 1.34vw;
    border-radius: 1.3vw;
    font-size: 0.78vw;
    letter-spacing: -0.1rem;
    line-height: 2.5vw;
    background-position: center right 1.34vw;
    background-size: 1.56vw;
}

/* 메인 갤러리 */
.main_gallery_con .wrap {
	display: flex;
}
.main_gallery_con .img_wrap {
	overflow: hidden;
	position: relative;
	width: 25%;
	padding-top: 26.2%;
	opacity:0;
	transform: translateY(3rem);
}
.main_gallery_con img {
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
    height: 100%;
    object-fit: cover;
}
.main_gallery_con.active .img_wrap {
	opacity: 1;
	transform: translateY(0);
	transition: all 1s;
} 


/* 메인 메시지 */
.main_message_con .wrap {
	padding: 18.5rem 0 15rem;
	text-align: center;
	background-image: url(../images/icon_title_deco.svg);
	background-repeat: no-repeat;
	background-position: top 14.2rem center ;
	background-size: 2.7rem ;
	opacity: 0;
}
.main_message_con .tit {
	font-family: "AmstelvarAlpha";
	font-size: 4rem;
	letter-spacing: -0.1rem;
	color: #8D7F74;
    transform: scaleX(0.9) translateY(3rem);
	opacity: 0;
}
.main_message_con .txt {
	margin-top: 2.5rem;
	font-size: 2rem;
	letter-spacing: -0.1rem;
	color: #625448;
    transform: translateY(3rem);
	opacity: 0;
}
.main_message_con.active .wrap {
	opacity: 1;
	background-position: top 11.2rem center ;
	transition: all 1s;
}
.main_message_con.active .tit {
	opacity: 1;
    transform: scaleX(0.9) translateY(0);
	transition: all 1s 0.5s;
}
.main_message_con.active .txt {
	opacity: 1;
    transform: translateY(0);
	transition: all 1s 1s;
}

/*  */

@media screen and (max-width:1600px){
	.main_visual_con .notice_wrap {
		right: 3rem;
	}
	.main_care_con .care_wrap {margin-left:0}
}
@media screen and (max-width:1400px){
	.main_personal_con .personal_img_wrap {
		width: 62vw;
		height: 42vw;
	}
	.main_personal_con .personal_txt_wrap {
		margin-top: 7vw;
	}

	.main_slogan_con .wrap {
		background-position: bottom 10rem left 5rem;
        background-size: 13rem;
	}
	.main_slogan_con.active .wrap {
		background-position: bottom 13.4rem left 5rem;
	}
	
	.main_oao_con .img_wrap p {
		margin-top: -2.5rem;
		font-size: 5rem;
	}
	.main_oao_con .img_wrap p span.point {
		height: 2.5rem;
		bottom: 2.5rem;
	}
}

@media screen and (max-width:1024px){
	.main_personal_con .personal_img_wrap {
		width: 50vw;
        height: 34vw;
	}
}
/* 태블릿 */
@media screen and (max-width:1024px){
	.main_oao_con .img_wrap p {
		margin-top: -2rem;
		font-size: 4rem;
	}
	.main_oao_con .img_wrap p span.point {
		height: 2rem;
		bottom: 2rem;
	}
	.df_bot .btn_arr_border {
		background-position: center right 1vw;
	}
}

/* 모바일 */
@media screen and (max-width:768px){
	.main_oao_con .img_wrap p span.point,
	.care_wrap .care_left img {
		display: none;
	}

	/* 메인비주얼 */
	.main_visual_con .intro_wrap {
		height: 81.2rem;
        padding-top: 0;
	}
	.main_visual_con .intro_wrap .intro_logo {
		top: 35.3rem;
		left: calc(50% - 14.25rem);
		width: 28.5rem;
	}
	.main_visual_con .intro_wrap .intro_bg {
		top: calc(100% - 100rem);
        left: calc(50% - 100rem);
        border: 100rem solid #433A34;
    }
	.main_visual_con .intro_wrap.play .intro_bg {
		top: -14.5rem;
        left: -44.5rem;
        width: 76.5rem;
        height: 76.5rem;
		padding-top: 0;
		border: 25rem solid #433A34;
	}
	.main_visual_con .visual_txt {
		top: 22.3rem;
		left: 0;
		width: 100%;
		font-size: 3.4rem;
	}
	.main_visual_con .btn_wrap {
		bottom: 11.7rem;
		left: 8.7rem;
	}
	.main_visual_con .btn_wrap::before {
		width: 9rem;
		height: 9rem;
		bottom: -1.2rem;
		right: -3.8rem;
		background-size: 9rem;
	}
	.main_visual_con .btn_wrap a {
		border-radius: 4rem;
	}
	.main_visual_con .btn_wrap a span {
		width: 20rem;
		height: 4rem;
		padding-left: 2rem;
		border-radius: 2rem;
		font-size: 1.2rem;
		line-height: 4rem;
		background-position: center right 2rem;
		background-size: 2.6rem;
	}
	.main_visual_con .btn_wrap a span {
        letter-spacing: -0.03rem;
	}
	.main_visual_con .notice_wrap {
		top: 7.5rem;
		right:1.5rem
	}
	.main_visual_con .notice_wrap .wrap {
		padding: 0.4rem 1rem 0.4rem 2rem;
	}
	.main_video_con .wrap {
		padding: 0;
	}
	.main_oao_con .wrap {
		padding: 0 1.5rem;
		margin-top: 12rem;
		margin-bottom: 10rem;
	}
	.main_oao_con .txt_wrap {
		position: static;
		width: 100%;
	}
	.main_oao_con .txt_wrap .sub_tit {
		font-size: 1.6rem;
	}
	.main_oao_con .txt_wrap .tit {
		width: 120%;
        margin-left: -10%;
		margin-top: 0;
		font-size: 5rem;
		line-height: 2;
	}
	.main_oao_con .txt_wrap .txt {
		margin-top: 0;
		font-size: 1.4rem;
		line-height: 2.4rem;
	}
	.main_oao_con .txt_wrap a {
		width: 26rem;
		height: 4.8rem;
		margin-top: 4rem;
		padding-left: 2rem;
		font-size: 1.4rem;
		background-position: center right 2rem;
		background-size: 2.6rem;
	}
	.main_oao_con .oao_wrap {
		display: block;
		height: auto;
	}
	.oao_wrap .img_wrap {
		width: 25rem;
        margin-top: 10rem;
	}
	.main_oao_con .img_right {
		margin-left: auto;
	}
	/* .main_oao_con .img_left p {
		text-align: left;
	}
	.main_oao_con .img_right p {
		text-align: right;
	}	 */
	.main_oao_con .img_01 p {
		margin-left: -9rem;
	}
	.main_oao_con .img_02 p {
		margin-left: 2rem;
	}
	.main_oao_con .img_03 p {
		margin-left: -7rem;
	}
	.main_oao_con .img_04 p,
	.main_oao_con .img_06 p {
		margin-left: -1.4rem;
	}
	.main_oao_con .img_05 p {
		margin-left: -10rem;
	}
	.main_oao_con .img_left p::after {
		content: '';
        display: inline-block;
		width: 2.6rem;
		height: 2.6rem;
		background:url(../images/main_oao_itxt_icon.png);
		background-repeat: no-repeat;
		transform: rotate(180deg) translateY(-1rem);
	}
	.main_oao_con .img_right p::before {
		content: '';
        display: inline-block;
		width: 2.6rem;
		height: 2.6rem;
		background:url(../images/main_oao_itxt_icon.png);
		background-repeat: no-repeat;
		transform: translateY(1rem);
	}
	.main_oao_con .img_left p span {
		transform: scaleX(0.8) translateX(16%);
	}
	.main_oao_con .img_right p span {
		transform: scaleX(0.8) translateX(-16%);
	}


	.main_personal_con .wrap {
		flex-wrap: wrap-reverse;
		max-width: none;
		padding: 10rem 1.5rem 2rem 1.5rem;
	}
	.main_personal_con .personal_txt_wrap {
		padding: 0;
		margin-top: 0;
		margin-bottom: 10rem;
	}
	.main_personal_con .personal_txt_wrap .tit01 {
		font-size: 1.6rem;
		transform: scaleX(0.9) translateX(-1.5rem);

	}
	.main_personal_con .personal_txt_wrap .tit02 {
		font-size: 2.2rem;
	}
	.main_personal_con .personal_txt_wrap .txt {        	
		margin-top: 1rem;
		font-size: 1.4rem;
        line-height: 2.4rem;
	}
	.main_personal_con .personal_img_wrap {
		width: 100%;
		height: 23.5rem;
	}
	.main_personal_con .personal_img_wrap .img01 {
		width: 100%;
		max-width: none;
		top: 0;
		left:0;
	}
	.main_personal_con .personal_img_wrap .img02 {
		/* width: 10.6rem; */
		width: 30.5%;
		top: auto;
		bottom: 0;
	}
	.main_personal_con .personal_img_wrap .img03 {
		width: 16%;
		bottom: 3.5rem;
		left: 33.5%;
		/* width: 5.5rem; */
		/* left: 11.6rem */
	}
	.main_personal_con .personal_img_wrap .img04 {
		width: 20%;
		bottom: 0rem;
		left: 51%;
		/* width: 6.8rem; */
		/* left: 17.6rem */
	}
	.main_personal_con .personal_img_wrap .img05 {
		width: 28%;
		bottom: 2.1rem;
		/* width: 9.6rem; */
	}

	
	.main_care_con .wrap {
		padding: 12rem 1.5rem;
	}
	.main_care_con .care_wrap {
		max-width: none;
        flex-wrap: wrap;
	}
	.main_care_con .care_wrap~.care_wrap {
		margin-top: 11rem;
	}
	.care_wrap .care_img,
	.care_wrap .care_left,
	.main_care_con .care_02 .care_left {
		max-width: none;
        width: 100%;
		margin-top: 0;
	}
	.main_care_con .care_tit {
		position: static;
		width: 110%;;
        height: auto;
		margin: 0.8rem -5% 0;
		text-align: left;
		opacity: 0;
		transform: scaleX(0.9) translateY(20rem);
	}
	.main_care_con .care_02 .care_tit {
		text-align: right;
	}
	.main_care_con .care_tit .tit,
	.main_care_con .care_tit .num {
		display: inline-block;
		margin: 0;
		font-size: 2rem;
		letter-spacing: -0.03rem;
	}
	.main_care_con .care_02 .care_left {
		text-align: right;
	}
	.main_care_con .care_left .txt {
		margin-top: 1rem;
		font-size: 1.4rem;
	}
	.main_care_con .care_left .tit {
		font-size: 1.8rem;
	}
	.care_wrap.active .care_tit {
		transform: scaleX(0.9) translateY(0rem);
		transition: all 1s 0.3s;
	}
	.care_wrap.active .care_left {
		transition: all 1s 0.6s;
	}

	.main_slogan_con .wrap {
		height: auto;
		padding: 3rem 0 15rem;
		background: none;
	}
	.main_slogan_con .tit {
		font-size: 6rem;
		line-height: 8rem;
	}
	.main_slogan_con .wrap::before {
		content: '';
		display: block;
		position: absolute;
		bottom: 22rem;
		left: 25rem;
		border-bottom: 1px solid #433a34;
	}

	/* 의사소개 */
	.main_dr_con {
		flex-flow: column-reverse;
	}
	.main_dr_con .dr_slider {
		width: 100%;
	}
	.main_dr_con .swiper-wrapper {
		display: block;
	}
	.main_dr_con .dr_wrap {
		width: 100%;
	}
	.main_dr_con .dr_img {
		width: 100%;
	}
	.main_dr_con .dr_con {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
        padding: 7.2rem 2.7rem 3rem;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
	}
	.main_dr_con .dr_info .pos {
		font-size: 1.4rem;
		line-height: 1.7rem;
		color: #FAEFD8;
	}
	.main_dr_con .dr_info .name_kr {
		font-size: 2.8rem;
		line-height: 3.5rem;
		letter-spacing: -0.07rem;
		color: #FFFFFF;
	}
	.main_dr_con .dr_info .name_en {
		margin-top: 0.0rem;
		font-size: 1.2rem;
		line-height: 1.4rem;
		letter-spacing: 0.18rem;
		color:rgba(255, 255, 255, 0.5);
	}
	.main_dr_con .dr_motto {
		font-size: 1.8rem;
		line-height: 3rem;
		color: #F8F6F0;
	}
	.main_dr_con .dr_motto::before,
	.main_dr_con .dr_motto::after {
		display: none;
	}
	.main_dr_con .dr_fix_wrap{
		display: flex;
		width: 100%;
		padding: 2rem 1rem;;
	}
	.main_dr_con .df_top img{
		width: 10.5rem;
	}
	.main_dr_con .df_bot {
		display: none;
	}
	

	.main_gallery_con .wrap {
		flex-flow: wrap;
	}
	.main_gallery_con .wrap .img_wrap {
		width: 50%;
        padding-top: 52%;
	}
	
	.main_gallery_con .wrap .img_wrap:nth-child(3) {
		width: 100%;
        padding-top: 103%;
	}

	.main_message_con .wrap {
		padding: 12.4rem 0 10rem;
		background-position: top 12rem center;
		background-size: 2.4rem;
	}
	.main_message_con .tit {
		font-size: 3rem;
	}
	.main_message_con .txt {
		font-size: 1.4rem;
	}
	.main_message_con.active .wrap {
		background-position: top 8rem center ;
	}
}