
.swiper-pagination-bullet {
    background-color: #DED0B0;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background-color: #433A34;
}

/* 모바일 */
@media screen and (max-width:768px){
    .swiper-pagination-bullet {
        width: 0.6rem;
        height: 0.6rem;
    }
}





/* -------------- 병원소개 START ------------- */
/* 병원 소개 서브비주얼 세팅 */
.sub_visual_con.vision {
    background-image: url(./../images/sub_visual_vision.png);
} 
.sub_visual_con.drs {
    background-image: url(./../images/sub_visual_drs.png);
} 
.sub_visual_con.sapce {
    background-image: url(./../images/sub_visual_sapce.png);
} 
.sub_visual_con.location {
    background-image: url(./../images/sub_visual_location.png);
} 
@media screen and (max-width:768px){
    .sub_visual_con.vision {
        background-image: url(./../images/sub_visual_vision_mo.png);
    } 
    .sub_visual_con.drs {
        background-image: url(./../images/sub_visual_drs_mo.png);
    } 
    .sub_visual_con.sapce {
        background-image: url(./../images/sub_visual_sapce_mo.png);
    } 
    .sub_visual_con.location {
        background-image: url(./../images/sub_visual_location_mo.png);
    } 
}


/* 병원소개 */
.vis_point_wrap {
    padding:6rem 3rem 3.2rem; 
}
.vis_point_wrap ul {
    max-width: 108rem;
    margin: 0 auto;
}

.vis_fc_wrap {
    padding: 8rem 3rem 5.4rem;
    background-color: rgba(221,209,180,0.2);
}
.vis_fc_wrap > .wrap {
    max-width: 160rem;
    margin: 0 auto;
    text-align: center;
}
.vis_fc_wrap .tit {
    font-family: "AmstelvarAlpha";
    font-size: 8rem;
    line-height: 10rem;
    letter-spacing: -0.025rem;
    color: #322C28;
    transform: scaleX(0.8);
}
.vis_fc_wrap img {
    margin:3rem 0; 
}
.vis_fc_wrap .txt {
    font-family: "AmstelvarAlpha";
    font-size: 9rem;
    line-height: 12rem;
    letter-spacing: -0.025rem;
    color: #8D7F74;
    transform: scaleX(0.8);
}

.vis_care_wrap .wrap {
	position: relative;
	height: 60rem;
    padding: 12.4rem 0;
	text-align: center;
	background: url(../images/main_deco_sym.png) no-repeat;
	background-position: bottom 16.4rem left 26.1rem;
	background-size: 16.9rem ;
	opacity: 0;
}
.vis_care_wrap .tit {
	font-family: "AmstelvarAlpha";
	font-size: 8rem;
	line-height: 10rem;
	letter-spacing: -0.1rem;
	color: #433A34;
    transform: scaleX(0.8) translateY(3rem);
	opacity: 0;
}
.vis_care_wrap .wrap::before {
	content: '';
	display: block;
	position: absolute;
	bottom: 19.8rem;
	left: calc(50% + 25rem);
	right: 50%;
	border-bottom: 1px solid #433a34;	
}
.vis_care_wrap .txt {
    margin-top: 1rem;
	font-family: "AmstelvarAlpha";
	font-size: 3.4rem;
	line-height: 4rem;
	letter-spacing: -0.1rem;
	color: #8D7F74;
    filter: blur(2px);
    transform: translateY(3rem);
	opacity: 0
}
.vis_care_wrap.active .wrap {
	opacity: 1;
	background-position: bottom 19.4rem left 26.1rem;
	transition: all 1s;
}
.vis_care_wrap.active .tit {
	opacity: 1;
    transform: scaleX(0.8) translateY(0);
	transition: all 1s 0.5s;
}
.vis_care_wrap.active .txt {
	opacity: 1;
    transform: translateY(0);
	transition: all 1s 1s;
}
.vis_care_wrap.active .wrap::before {
	right: 0;
	transition: all 1s 1.5s;
}

.vis_slogan_wrap {
    padding: 8.9rem 3rem 10.4rem;
    background-color: rgba(221,209,180,0.2);
}
.vis_slogan_wrap > .wrap {
    max-width: 128rem;
    margin: 0 auto;
}
.vis_slogan_wrap .top_wrap {
    margin-bottom: 6.8rem;
    text-align: center;
}
.vis_slogan_wrap .top_wrap .tit {
	font-family: "AmstelvarAlpha";
	font-size: 1.8rem;
	line-height: 2.2rem;
	letter-spacing: -0.025rem;
	color: #AA9B7A;
}
.vis_slogan_wrap .top_wrap .txt {
    margin-top: 1rem;
	font-size: 1.8rem;
	line-height: 2.1rem;
	letter-spacing: -0.025rem;
	color: #433A34;
}
.vis_slogan_swiper {
    overflow: hidden;
}
.vis_slogan_wrap .swiper-wrapper {
    display: flex;
    justify-content: space-between;
}
.vis_slogan_wrap .swiper-slide {
    width: 31.3%;
}
.vis_slogan_wrap .swiper-slide .wrap {
    position: relative;
    width: 100%;
    padding-top: 125%;
    background-color: #F0EEE8;
}
.vis_slogan_wrap .swiper-slide img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 86.5%;
}
.vis_slogan_wrap .swiper-slide.center img {
    width: 100%;
}
.vis_slogan_wrap .left img {
    right: auto;
    left: 0;
}
.vis_slogan_wrap .txt_wrap {
    position: absolute;
    top: 4.3rem;
    right: 2.2rem;
    text-align: right;
}
.vis_slogan_wrap .left .txt_wrap {
    right: 4.7rem;
}
.vis_slogan_wrap .txt_wrap .tit {
    font-family: "AmstelvarAlpha";
	font-size: 1.8rem;
	line-height: 2.2rem;
	letter-spacing: -0.025rem;
	color: #AA9B7A;
}
.vis_slogan_wrap .txt_wrap .tit b {
    font-weight: 400;
    color:#8D7F74;
}
.vis_slogan_wrap .txt_wrap .txt {
    margin-top: 1rem;
	font-size: 1.8rem;
	line-height: 2.1rem;
	letter-spacing: -0.025rem;
	color: #433A34;
}
.vis_slogan_wrap .center .txt_wrap .txt {
    color: rgba(170,155,122,0.7);
}
.vis_slogan_wrap .txt_wrap .sub_txt {
    margin-top: 1.1rem;
	font-size: 1.5rem;
	line-height: 2.2rem;
	letter-spacing: -0.025rem;
	color: #DED0B0;
}
.vis_slogan_wrap .swiper-slide .bul_txt {
    margin-top: 1.5rem;
    padding-left: 3rem;
	font-size: 1.8rem;
	line-height: 2.1rem;
	letter-spacing: -0.025rem;
    word-break: keep-all;
    background-image: url(../images/icon_title_deco.svg);
    background-repeat: no-repeat;
    background-size: 2.1rem;
    background-position: top left 0.3rem;
	color: #433A34;
}
.vis_slogan_wrap .swiper-slide.left .bul_txt {
    padding: 0 3rem 0 0;
    text-align: right;
    background-position: top right 0.3rem;
}

.vis_brand_wrap {
    padding: 0 3rem 10rem;
}
.vis_brand_wrap > .wrap{
    max-width: 132rem;
    margin:0 auto;
}
.vis_brand_wrap .page_title .tit {
    font-family: "AmstelvarAlpha";
    font-weight: 400;
    color:#8D7F74;
    transform: scaleX(0.9) translateY(10rem);
}
.vis_brand_wrap .page_title.type02.active .tit {
    transform: scaleX(0.9) translateY(0rem);
}
.vis_brand_wrap .brand_con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vis_brand_wrap .left_con {
    display: flex;
    position: relative;
    width: 63rem;
    height: 36rem;
    justify-content: center;
    align-items: center;
}
.vis_brand_wrap .left_con .txt_wrap.wrap01 {
    position: absolute;
    top: 0;
    left: 0;
}
.vis_brand_wrap .left_con .txt_wrap.wrap02 {
    position: absolute;
    bottom: 0;
    right: 0;
}
.vis_brand_wrap .left_con img {
    width: 17.5rem;
}
.vis_brand_wrap .left_con .txt_wrap .tit {
    font-family: "AmstelvarAlpha";
	font-size: 3rem;
	line-height: 3.6rem;
	letter-spacing: -0.025rem;
	color: #A8B9C3;
}
.vis_brand_wrap .left_con .txt_wrap .txt {
    margin-top: 2rem;
	font-size: 1.8rem;
	line-height: 3rem;
	letter-spacing: -0.025rem;
	color: #433A34;
}
.vis_brand_wrap .right_con {
    width: 51rem;
}
.vis_brand_wrap .right_con .tit {
    margin-bottom: 0.6rem;
    font-family: "AmstelvarAlpha";
	font-size: 1.8rem;
	line-height: 2.2rem;
	letter-spacing: -0.025rem;
	color: #AA9B7A;
}
.vis_brand_wrap .right_con .txt {
    font-size: 1.8rem;
	line-height: 3rem;
	letter-spacing: -0.025rem;
	color: #433A34;
}
.vis_brand_wrap .right_con .txt~.txt {
    margin-top: 2.3rem;
}
.vis_brand_wrap .right_con a {
    margin-top: 2.5rem;
    font-size: 1.5rem;
    line-height: 4rem;
    border-radius: 2rem;
    background-color: #A6B7C2;
}

.vis_ex_wrap {
    padding: 10rem 3rem;
}
.vis_ex_wrap .wrap {
    max-width: 140rem;
    margin: 0 auto;
}
.vis_ex_wrap .ex_box {
    display: flex;
    justify-content: space-between;
}
.vis_ex_wrap .ex_box~.ex_box {
    margin-top: 26rem;
}
.vis_ex_wrap .txt_wrap {
    width: 50rem;
    flex: 1 0 auto;
}
.vis_ex_wrap .txt_wrap .tit_en {
    font-family: "AmstelvarAlpha";
	font-size: 1.8rem;
	line-height: 2.2rem;
	letter-spacing: -0.025rem;
	color: #AA9B7A;
}
.vis_ex_wrap .txt_wrap .tit_kr {
    margin-top: 0.5rem;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #433A34;
}
.vis_ex_wrap .txt_wrap .txt {
    margin-top: 3rem;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 5.5rem;
    color: #433A34;
}



/* 의료진 소개 */
.drs_info_wrap {
    max-width: 160rem;
    margin: 0 auto;
}
.drs_info_wrap .dr_info {
    display: flex;
}
.drs_info_wrap .dr_info.dr02 {
    flex-flow: row-reverse;
}
.drs_info_wrap .img_wrap {
    position: relative;
}
.drs_info_wrap .img_wrap::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0,1), rgba(0, 0, 0, 0))
}
.drs_info_wrap .img_wrap p {
    position: absolute;
    left:8rem;
    bottom: 8rem;
	font-family: "NanumMyeongjo";
	font-size: 3rem;
	line-height: 5rem;
	letter-spacing: 0.25rem;
	color: #fff;
}
.drs_info_wrap .info_wrap {
    position: relative;
    flex: 1 1 auto;
    background-color: #F8F6F0;
}
.drs_info_wrap .info_wrap > .wrap {
    position: absolute;
    bottom: 10rem;
    left: 9.5%;;
}
.drs_info_wrap .info_wrap .pos {
	font-family: "AmstelvarAlpha";
	font-size: 3rem;
    line-height: 3.6rem;
	letter-spacing: -0.025rem;
	color: #433A34;
}
.drs_info_wrap .info_wrap .name_kr {
	font-family: "NanumMyeongjo";
	font-size: 8rem;
    line-height: 10rem;
	font-weight: 700;
	letter-spacing: -0.025rem;
	color: #AA9B7A;
}
.drs_info_wrap .info_wrap .name_en {
	font-family: "AmstelvarAlpha";
	font-size: 2.8rem;
    line-height: 3rem;
	letter-spacing: -0.025rem;
	color: #433A34;
}
.drs_info_wrap .info_wrap .history {
	margin-top: 3.5rem;
	font-size: 2rem;
    line-height: 3.2rem;
	letter-spacing: -0.03rem;
	color: #433A34;
}

.drs_slogan_wrap {
    padding: 15.9rem 2.8rem 16.3rem;
    text-align: center;
}
.drs_slogan_wrap p {
    display: inline-block;
    position: relative;
	font-family: "NanumMyeongjo";
	font-size: 4rem;
    line-height: 7rem;
	font-weight: 700;
	letter-spacing: -0.025rem;
	color: #433A34;
}
.drs_slogan_wrap p::before,
.drs_slogan_wrap p::after {
    content: '';
    display: block;
    position: absolute;
    width: 3.1rem;
    height: 2.5rem;
    background: url(./../images/icon_drs_dqm.svg) no-repeat center center / contain;
}
.drs_slogan_wrap p::before {
    top: -2.5rem;
    left: -4.5rem;
}
.drs_slogan_wrap p::after {
    bottom: -1.2rem;
    right: 9rem;
    transform: rotate(180deg);
}

/* 공간안내 */
.space_swiper01 .swiper-pagination {
    position: static;
    margin-top: 1.3rem;
}
.space_txt_wrap {
    /* padding:8rem 0 11.5rem; */
    padding: 7.5rem 0 9.5rem;
	font-family: "NanumMyeongjo";
	font-size: 3rem;
    line-height: 5rem;
	font-weight: 700;
	letter-spacing: -0.025rem;
    text-align: center;
	color: #433A34;
}
.space_swiper02_wrap {
    position: relative;
    display: flex;
    margin-bottom: 15rem;
}
.space_swiper02 {
    overflow: hidden;
    max-width: 160rem;
    margin: 0 auto;
}
.space_swiper02 .swiper-wrapper {
    max-width: 160rem;
    margin: 0 auto;
}
.space_swiper02 .swiper-slide {
    width: 20.65%
}
.space_swiper02 .swiper-slide.center,
.space_swiper02 .swiper-slide.slide04 {
    width: 29.4%;
} 
.space_swiper02_wrap .swiper_btn_wrap {
    display: flex;
    width: 16rem;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #fff, #8D7F74)
}
.space_swiper02_wrap .swiper_btn_wrap.btn_prev {
    transform: rotate(180deg);
}
.space_swiper02_wrap .swiper-button-prev,
.space_swiper02_wrap .swiper-button-next {
    position: static;
    width: 3.6rem;
    height: 7.2rem;
    margin-top: 0;
    background: url(./../images/icon_arrow_white.svg) no-repeat center center / 3rem;
}
.space_swiper02_wrap .swiper-button-next:after,
.space_swiper02_wrap .swiper-button-prev:after {content: none;}

/* 반응형 */
@media screen and (max-width:1400px){
    /* 의료진 소개 */
    .drs_info_wrap .img_wrap {
        max-width: 78rem;
    }
    .drs_info_wrap .info_wrap > .wrap {
        bottom: 5rem;
    }
    .drs_info_wrap .info_wrap .name_kr {
        font-size: 5rem;
        line-height: 6rem;
    }
}
@media screen and (max-width:1200px){
    .vis_brand_wrap .brand_con {
        justify-content: space-around;
    }
    .vis_brand_wrap .left_con {
        width: 60rem;
    }
    .vis_brand_wrap .right_con {
        width: 40rem;
    }
}
/* 태블릿 */
@media screen and (max-width:1024px){
    /* 병원소개 */
    
    .vis_brand_wrap .brand_con {
        flex-flow: column-reverse;
    }
    .vis_brand_wrap .left_con {
        margin-top: 8rem;
    }
    .vis_brand_wrap .right_con {
        text-align: center;
    }
    .vis_ex_wrap .txt_wrap .txt {
        font-size: 2.5rem;
        line-height: 4rem;
    }
   
    /* 의료진 소개 */
    .drs_info_wrap .img_wrap {
        max-width: 65rem;
    } 
    .drs_info_wrap .info_wrap .pos {
        font-size: 1.2rem;
        line-height: 1.4rem;
    }
    .drs_info_wrap .info_wrap {
        padding: 3rem 1.3rem 4.5rem;
    }
    .drs_info_wrap .dr02 .info_wrap {
        text-align: right;
    }
    .drs_info_wrap .info_wrap .name_kr {
        font-size: 2.6rem;
        line-height: 4.1rem;
    }
    .drs_info_wrap .info_wrap .name_en {
        margin-top: 0.4rem;
        font-size: 1.8rem;
        line-height: 2rem;
    }
    .drs_info_wrap .info_wrap .history {
        margin-top: 3rem;
        font-size: 1.4rem;
        line-height: 2.4rem;
    }
}
/* 모바일 */
@media screen and (max-width:768px){
    /* 병원소개 */
    .vis_point_wrap {
        padding: 4rem 2.2rem;
    }

    .vis_fc_wrap {
        padding: 2rem 1.5rem 2rem;
    }
    .vis_fc_wrap .tit {
        font-size: 6rem;
        line-height: 9rem;
    }
    .vis_fc_wrap img {
        margin: -19rem 0 2rem; 
    }
    .vis_fc_wrap .txt {
        width: 120%;
        margin-left: -10%;
        font-size: 6rem;
        line-height: 9rem;
    }
    
    .vis_care_wrap .wrap {
		height: auto;
		padding: 8rem 0;
		background: none;
	}
	.vis_care_wrap .tit {
		font-size: 6rem;
		line-height: 8rem;
	}
    .vis_care_wrap .txt {
        margin-top: 4rem;
    }
	.vis_care_wrap .wrap::before {
		bottom: 18rem;
		left: 25rem;
	}
    
    .vis_slogan_wrap {
        padding: 6.8rem 1.5rem 8rem;
    }
    .vis_slogan_wrap .top_wrap {
        margin-bottom: 10rem;
    }
    .vis_slogan_wrap .top_wrap .tit {
        font-size: 1.6rem;
        line-height: 1.9rem;
    }
    .vis_slogan_wrap .top_wrap .txt {
        margin-top: 1.5rem;
        font-size: 1.6rem;
        line-height: 2.6rem;
    }
    .vis_slogan_wrap .swiper-slide img {
        width: 31.9rem;
    }
    .vis_slogan_wrap .left .txt_wrap {
        right: 2.7rem;
    }
    .vis_slogan_wrap .txt_wrap .tit {
        font-size: 2.2rem;
        line-height: 2.6rem;
    }
    .vis_slogan_wrap .txt_wrap .txt {
        font-size: 1.6rem;
        line-height: 1.9rem;
    }
    .vis_slogan_wrap .txt_wrap .sub_txt {
        margin-top: 1rem;
        font-size: 1.4rem;
    }
    .vis_slogan_wrap .swiper-slide .bul_txt {
        margin-top: 1.5rem;
        font-size: 1.6rem;
        line-height: 1.9rem;
        background-size: 2rem;
    }

    .vis_brand_wrap {
        padding: 0 2.8rem 8rem;
    }
    .vis_brand_wrap .page_title {
        padding: 12.4rem 0 6rem;
    }
    .vis_brand_wrap .brand_con {
        flex-flow: column-reverse;
    }
    .vis_brand_wrap .left_con {
        margin-top: 8rem;
        width: 100%;
        height: 30.8rem;
    }
    .vis_brand_wrap .left_con img {
        width: 12rem;
    }
    .vis_brand_wrap .left_con .txt_wrap .tit {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }
    .vis_brand_wrap .left_con .txt_wrap .txt {
        margin-top: 0.8rem;
        font-size: 1.4rem;
        line-height: 2.4rem;
    }
    .vis_brand_wrap .right_con {
        width: 100%;
        text-align: left;
    }
    .vis_brand_wrap .right_con .tit {
        margin-bottom: 2rem;
        font-size: 1.6rem;
        line-height: 1.9rem;
    }
    .vis_brand_wrap .right_con .txt {
        font-size: 1.4rem;
        line-height: 2.4rem;
    }
    .vis_brand_wrap .right_con .txt~.txt {
        margin-top: 0.5rem;
    }
    .vis_brand_wrap .right_con a {
        margin-top: 2rem;
    }

    .vis_ex_wrap {
        padding: 0 1.5rem 10rem;
    }
    .vis_ex_wrap > .wrap {
        padding-top: 8rem;
        border-top: 1px solid #CED9E0;
    }
    .vis_ex_wrap .ex_box {
        flex-flow: column-reverse;
    }
    .vis_ex_wrap .ex_box~.ex_box {
        margin-top: 8rem;
    }
    .vis_ex_wrap .txt_wrap {
        width: 100%;
        padding: 2rem 1.3rem 0;
    }
    .vis_ex_wrap .txt_wrap .tit_en {
        font-size: 1.2rem;
        line-height: 1.4rem;
    }
    .vis_ex_wrap .txt_wrap .tit_kr {
        margin-top: 0.2rem;
        font-size: 1.6rem;
        line-height: 1.9rem;
    }
    .vis_ex_wrap .txt_wrap .txt {
        margin-top: 1rem;
        font-size: 1.8rem;
        line-height: 2.6rem;
    }


    /* 의료진 소개 */
    .drs_info_wrap .dr_info {
        display: block;
        width: 34.5rem;
        margin: 0 auto;
    }
    .drs_info_wrap .img_wrap {
        position: relative;
    }
    .drs_info_wrap .img_wrap p {
        left:1.3rem;
        bottom: 1.2rem;
        font-size: 1.4rem;
        line-height: 2.4rem;
    }
    .drs_info_wrap .info_wrap > .wrap {
        position: static;
    }
        
    .drs_slogan_wrap {
        padding: 10.9rem 2.8rem 11.3rem
    }
    .drs_slogan_wrap p {
        font-size: 2.2rem;
        line-height: 4rem;
        letter-spacing: 0;
    }
    .drs_slogan_wrap p::before,
    .drs_slogan_wrap p::after {
        width: 1.8rem;
        height: 1.4rem;
    }
    .drs_slogan_wrap p::before {
        top: -1.4rem;
        left: -2.4rem;
    }
    .drs_slogan_wrap p::after {
        bottom: -0.7rem;
        right: 5rem;
    }
    /* 공간안내 */
    .space_swiper01 .swiper-pagination {
        margin-top: 2rem;
    }
    .space_txt_wrap {
        padding: 8rem 0;
        font-size: 2rem;
        line-height: 3.4rem;
    }
}
/* --------------- 병원소개 END -------------- */






/* -------------- 미니쉬 START ------------- */
/* 미니쉬 서브비주얼 세팅 */
.sub_visual_con.minish {
    background-image: url(./../images/sub_visual_minish.png);
} 
.sub_visual_con.minish_type {
    background-image: url(./../images/sub_visual_minish_type.png);
} 
.sub_visual_con.make {
    background-image: url(./../images/sub_visual_make.png);
} 
.sub_visual_con.bna {
    background-image: url(./../images/sub_visual_bna.png);
} 
.sub_visual_con.certification {
    background-image: url(./../images/sub_visual_certification.png);
} 
@media screen and (max-width:768px){
    .sub_visual_con.minish {
        background-image: url(./../images/sub_visual_minish_mo.png);
    } 
    .sub_visual_con.minish_type {
        background-image: url(./../images/sub_visual_minish_type_mo.png);
    } 
    .sub_visual_con.make {
        background-image: url(./../images/sub_visual_make_mo.png);
    } 
    .sub_visual_con.bna {
        background-image: url(./../images/sub_visual_bna_mo.png);
    } 
    .sub_visual_con.certification {
        background-image: url(./../images/sub_visual_certification_mo.png);
    } 
}

/* 공통 */
.whatis_wrap {
    padding: 8.4rem 3rem 23rem;
}
.whatis_wrap > .wrap {
    display: flex;
    max-width: 160rem;
    margin: 0 auto;
    justify-content: space-between;
}
.whatis_wrap .left_wrap {
    width: 80rem;
    margin-right: 11.7rem;
}
.whatis_wrap .right_wrap {
    width: 64rem;
}
.whatis_wrap .right_wrap .whatis_tit span {
    display: inline-block;
    padding-top: 2.7rem;
	font-family: "AmstelvarAlpha";
	font-size: 6rem;
	line-height: 2;
    letter-spacing: -0.025rem;
	background-image: url(../images/icon_title_deco.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 3rem 2.7rem;
	color:#8D7F74;
    transform: scalex(0.9);
    margin-left: -5%;
}

.bna_case_wrap {
    padding:23rem 3rem 13rem;
}
.bna_case_wrap > .wrap {
    max-width: 135rem;
    margin: 0 auto;
}
.bna_case_wrap .tit_wrap {
    text-align: center;
}
.bna_case_wrap .tit_wrap .sub_tit {
	font-family: "AmstelvarAlpha";
	font-size: 3rem;
    line-height: 3.6rem;
	letter-spacing: -0.025rem;
	color: #8D7F74;
}
.bna_case_wrap .tit_wrap .sub_tit span {
	color: #AA9B7A;
}
.bna_case_wrap .tit_wrap .tit {
    margin-top: 2.4rem;
	font-family: "NanumMyeongjo";
	font-size: 4rem;
    line-height: 1;
	font-weight: 700;
	letter-spacing: -0.025rem;
	color: #8D7F74;
}
.bna_case_wrap .case_wrap {
    display: flex;
    margin-top: 9rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bna_case_wrap .case_wrap .case_box {
    width: 48.2%;
}
.bna_case_wrap .case_wrap .case_box:nth-child(n+3) {
    margin-top: 6.4rem;
}
.bna_case_wrap .twentytwenty-overlay {
    pointer-events: none;
}
.bna_case_wrap .twentytwenty-handle {
    width: 5rem;
    height: 5rem;
    border:none;
    background-color: rgba(250,237,216,0.5);
}
.bna_case_wrap .twentytwenty-handle span {
    top: 0;
    width: 2.5rem;
    height: 5rem;
    margin-top: 0;
    border:none;
    background-image: url(../images/icon_arrow_white.svg);
    background-repeat: no-repeat;
    background-size: 1.4rem;
    background-position: center center;
}
.bna_case_wrap .twentytwenty-left-arrow {
    left: 0;
    margin-left: 0;
    transform: rotate(180deg);
} 
.bna_case_wrap .twentytwenty-right-arrow {
    right: 0;
    margin-right: 0;
}
.bna_case_wrap .twentytwenty-horizontal .twentytwenty-handle:before, 
.bna_case_wrap .twentytwenty-horizontal .twentytwenty-handle:after {
    margin-top: 0;
    margin-bottom: 0;
    background: #FAEFD8;
}
.bna_case_wrap .case_wrap .case_box .tit01 {
    margin-bottom: 1.2rem;
	font-size: 1.8rem;
    line-height: 2.1rem;
	letter-spacing: -0.025rem;
	color: rgba(67,58,52,0.7);
}
.bna_case_wrap .case_wrap .case_box .tit02 {
    margin-bottom: 1.2rem;
	font-family: "NanumMyeongjo";
	font-size: 3rem;
    font-weight: 700;
    line-height: 3.4rem;
	letter-spacing: -0.025rem;
	color: #433A34;
}
.bna_case_wrap .case_wrap .case_box .date {
    display: flex;
    width: 41.7rem;
    margin: 2rem auto 0;
	font-size: 1.8rem;
    line-height: 2.1rem;
	letter-spacing: -0.025rem;
	color: rgba(67,58,52,0.7);
    justify-content: space-between;
}
.bna_case_wrap .case_wrap .case_box p {}
.bna_case_wrap .case_txt {
    margin-top: 9rem;
	font-size: 1.8rem;
    line-height: 2.8rem;
	letter-spacing: -0.025rem;
    text-align: center;
	color: rgba(67,58,52,0.7);
}

/* 미니쉬 */
.whatis_wrap.minish {
    padding-bottom: 15rem;
}
.minish_video_wrap > .wrap {
    max-width: 140rem;
    margin: 0 auto;
}
.minish_sec01_wrap {
    padding: 20rem 3rem;
}
.minish_sec01_wrap.solution {
    background-color: rgba(221,209,180,0.2);
}
.minish_sec01_wrap.tech {
    background-color: rgba(188,185,195,0.2);
}
.minish_sec01_wrap > .wrap {
    display: flex;
    max-width: 160rem;
    margin: 0 auto;
}
.minish_sec01_wrap .left_wrap {
    width: 80rem;
}
.minish_sec01_wrap .right_wrap {
    display: flex;
    width: 48rem;
    margin-left: 12rem;
    flex-wrap: wrap;
    align-content: space-between;
}
.minish_sec01_wrap .right_wrap .txt_box {
    width: 100%;
	font-family: "NanumMyeongjo";
	font-size: 1.8rem;
    line-height: 3.8rem;
	letter-spacing: -0.025rem;
    text-align: center;
    color:#AA9B7A;
    background-color: #fff;
}
.minish_sec01_wrap .imp_point li img {
    width: 12rem;
}
.minish_sec01_wrap .imp_point li .txt {
    margin-top: 0.6rem;
    font-size: 1.8rem;
    font-weight: 600;
}
.minish_sec01_wrap .imp_point li .sub_txt {
    font-size: 1.5rem;
    line-height: 1.8rem;
}

.minish_sec02_wrap {
    padding-bottom: 20rem;
}
.minish_sec02_wrap > .wrap {
    max-width: 140rem;
    margin: 0 auto
}
.minish_sec02_wrap .con_box {
    display: flex;
    position: relative;
    margin-top: 20rem;
    justify-content: space-between;
}
.minish_sec02_wrap .box02 {
    flex-flow: row-reverse;;
}
.minish_sec02_wrap .media_wrap {
    width: 80rem;
}
.minish_sec02_wrap .text_wrap {
    width: 48rem;
    margin-left: 12rem;
    flex-wrap: wrap;
    align-content: space-between;
}
.minish_sec02_wrap .box03 .media_wrap {
    display: flex;
    width: 100%;
    font-size: 0;
    align-items: flex-end;
}
.minish_sec02_wrap .box03 .sec03 img:first-child {
    width: 38.4%;
    vertical-align: top;
}
.minish_sec02_wrap .box03 .sec03 img:last-child {
    width: 61.6%;
}
.minish_sec02_wrap .box03 .text_wrap {
    position: absolute;
    top: 0;
    right:0;
}

.minish_sec03_wrap {
    padding: 15rem 0 20rem;
    text-align: center;
}
.minish_sec03_wrap .top_wrap .tit {
    padding-top: 6rem;
	font-family: "NanumMyeongjo";
	font-size: 4rem;
    font-weight: 700;
    line-height: 5rem;
	letter-spacing: -0.025rem;
    background-image: url(../images/icon_title_deco.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 2.7rem;
    color:#433A34;
}
.minish_sec03_wrap .mid_wrap { 
    padding: 1.7rem 0 1.6rem;
    margin: 6.8rem 0 4.8rem;
    background-color: #000;
}
.minish_sec03_wrap .mid_wrap img {
    max-width: 81.7rem;
    width: 100%;
}
.minish_sec03_wrap .bot_wrap .tit {
	font-family: "NanumMyeongjo";
	font-size: 3rem;
    font-weight: 700;
    line-height: 3.4rem;
	letter-spacing: -0.025rem;
    color:#433A34;
}
.minish_sec03_wrap .bot_wrap .txt {
    margin-top: 3.3rem;
	font-size: 1.8rem;
    line-height: 3rem;
	letter-spacing: -0.025rem;
    color:#433A34;
}



/* 미니쉬 타입 */
.mt_tab_wrap {
    overflow: hidden;
    padding: 10rem 3.8rem 20rem;
}
.mt_tab_wrap ul {
    display: flex;
    max-width: 140rem;
    margin: 0 auto;
    justify-content: space-between;
}
.mt_tab_wrap li {
    width: 24%;
}
.mt_tab_wrap li button {
    position: relative;
    width: 100%;
    padding-top: 193.5%;
    border-radius: 18rem;
    box-shadow: 0 0.4rem 1rem rgba(67,58,52,0.2);
    background-image: url(../images/icon_title_deco.svg);
    background-repeat: no-repeat;
    background-position: top 2.5rem center;
    background-size: 2.7rem;
    background-color: #F8F6F0;
}
.mt_tab_wrap li button img {
    position: absolute;
    width: 100%;
    bottom: 39%;
    left:0;
}
.mt_tab_wrap li button .text_wrap {
    position: absolute;
    width: 100%;
    left:0;
    bottom: 9.25%;
}
.mt_tab_wrap li button .tit_en {
    margin-top: 1.5rem;
    font-family: 'AmstelvarAlpha';
	font-size: 3.5rem;
    line-height: 6rem;
    letter-spacing: -0.025rem;
    color: #322C28;
}
.mt_tab_wrap li button .tit_kr {
	font-family: "NanumMyeongjo";
	font-size: 2.2rem;
    line-height: 3.4rem;
	letter-spacing: -0.025rem;
    color:#8D7F74;
}
.mt_tab_wrap li button .txt {
    margin-top: 1.4rem;
	font-size: 1.8rem;
    line-height: 3rem;
	letter-spacing: -0.045rem;
    color:#433A34;
}
.mt_tab_wrap li button.on {
    background-image: url(../images/icon_title_deco_dark.svg);
    background-color: #C7C7C7;
}
.mt_tab_wrap li button.on .tit_kr {
    color:#433A34;
}

@media screen and (max-width:1200px){
    .whatis_wrap .left_wrap {
        margin-right: 5rem;
    }
    .whatis_wrap .right_wrap .whatis_tit span {
        font-size: 4rem;
    }
    .mt_tab_wrap li button .tit_en {
        font-size: 2.5rem;
        line-height: 4rem;
    }
    .mt_tab_wrap li button .tit_kr {
        font-size: 1.8rem;
        line-height: 3rem;
    }
    .mt_tab_wrap li button .txt {
        margin-top: 1rem;
        font-size: 1.2rem;
        line-height: 2rem;
    }
}    
/* 태블릿 */
@media screen and (max-width:1024px){
}    
@media screen and (max-width:768px){
    
    /* 공통 */
    .whatis_wrap {
        padding: 0 2.5rem 10rem;
    }
    .whatis_wrap > .wrap {
        flex-flow: column-reverse;
    }
    .whatis_wrap .left_wrap {
        width: 100%;
        margin-top: 3rem;
    }
    .whatis_wrap .right_wrap {
        width: 100%;
    }
    .whatis_wrap .right_wrap .whatis_tit {
        text-align: center;
    }
    .whatis_wrap .right_wrap .whatis_tit span {
        padding-top: 4.7rem;
        margin-left: 0;
        margin-bottom: 6rem;
        font-size: 3rem;
        line-height: 4rem;
        background-image: url(../images/icon_title_deco.svg);
        background-size: 2.7rem 2.4rem;
    }

    .bna_case_wrap {
        padding:10rem 1.5rem;
    }
    .bna_case_wrap .tit_wrap .sub_tit {
        font-size: 1.6rem;
        line-height: 1.9rem;
    }
    .bna_case_wrap .tit_wrap .tit {
        margin-top: 0.6rem;
        font-size: 1.8rem;
        line-height: 4rem;
    }
    .bna_case_wrap .case_wrap {
        margin-top: 3rem;
    }
    .bna_case_wrap .case_wrap .case_box {
        width: 100%;
    }
    .bna_case_wrap .case_wrap .case_box:nth-child(n+2) {
        margin-top: 3rem;
    }
    .bna_case_wrap .twentytwenty-handle {
        width: 3rem;
        height: 3rem;
        margin-left: -1.5rem;
    }
    .bna_case_wrap .twentytwenty-handle span {
        width: 1.5rem;
        height: 3rem;
        background-size: 0.8rem;
    }
    .bna_case_wrap .case_wrap .case_box .tit01 {
        margin-bottom: 0.5rem;
        font-size: 1.28rem;
        line-height: 1.4rem;
    }
    .bna_case_wrap .case_wrap .case_box .tit02 {
        margin-bottom: 2rem;
        font-size: 1.6rem;
        line-height: 2.8rem;
        text-align: center;
        background: rgba(250, 239, 216, 0.40);
    }
    .bna_case_wrap .case_wrap .case_box .date {
        width: 28rem;
        margin: 1rem auto 0;
        font-size: 1.2rem;
        line-height: 1.4rem;
    }
    .bna_case_wrap .case_txt {
        margin-top: 6rem;
        font-size: 1.2rem;
        line-height: 2.4rem;
    }
        
    /* 미니쉬 */
    .minish_sec01_wrap {
        padding: 0;
    }
    .minish_sec01_wrap > .wrap {
        display: block;
        position: relative;
    }
    .minish_sec01_wrap .left_wrap {
        width: 100%;
        position: absolute;
        top: 27.5rem;
        left: 0;
    }
    .minish_sec01_wrap .right_wrap {
        width: 100%;
        margin-left: 0;
        padding : 8rem  2.5rem;
    }
    .minish_sec01_wrap .right_wrap .txt_box {
        width: 100%;
        margin-bottom: 6.2rem;
        font-size: 1.4rem;
    }
    .minish_sec01_wrap .right_wrap .text_set {
        margin-bottom: 30rem;
    }
    .minish_sec01_wrap .right_wrap .text_set .tit {
        font-size: 2.2rem;
        line-height: 3.4rem;
    }
    .minish_sec01_wrap .imp_point li img {
        width: 8rem;
    }
    .minish_sec01_wrap .imp_point li .txt {
        margin-top: 1rem;
        font-size: 1.4rem;
    }
    .minish_sec01_wrap .imp_point li .sub_txt {
        font-size: 1.4rem;
        line-height: 1.6rem;
    }

    .minish_sec02_wrap {
        padding-bottom: 10rem;
    }
    .minish_sec02_wrap .con_box {
        margin-top: 10rem;
        flex-flow: column-reverse;
    }
    .minish_sec02_wrap .media_wrap {
        width: 100%;
    }
    .minish_sec02_wrap .text_wrap {
        width: 100%;
        margin-left: 0;
        padding: 0 2.8rem 6rem;
    }
    .minish_sec02_wrap .box03 .media_wrap {
        flex-wrap: wrap;
    }
    .minish_sec02_wrap .box03 .sec01 {
        width: 55.8%;
        height: 28.7rem;
    }
    .minish_sec02_wrap .box03 .sec02 {
        width: 44.2%;
        height: 28.7rem;
    }
    .minish_sec02_wrap .box03 .sec03 {
        height: 13.5rem;
    }
    .minish_sec02_wrap .box03 .text_wrap {
        position: static;
    }

    .minish_sec03_wrap {
        padding: 15rem 0 20rem;
        text-align: center;
    }
    .minish_sec03_wrap .top_wrap .tit {
        padding-top: 6rem;
        font-family: "NanumMyeongjo";
        font-size: 4rem;
        font-weight: 700;
        line-height: 5rem;
        letter-spacing: -0.025rem;
        background-image: url(../images/icon_title_deco.svg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 2.7rem;
        color:#433A34;
    }
    
    .minish_sec03_wrap {
        padding: 10rem 0;
    }
    .minish_sec03_wrap .top_wrap .tit {
        padding-top: 4.4rem;
        font-size: 3rem;
        line-height: 4.2rem;
        background-size: 2.4rem;
    }
    .minish_sec03_wrap .mid_wrap { 
        padding: 4.6rem 0;
        margin: 10rem 0 6rem;
    }
    .minish_sec03_wrap .bot_wrap .tit {
        font-size: 1.8rem;
        line-height: 3.4rem;
    }
    .minish_sec03_wrap .bot_wrap .txt {
        margin-top: 2rem;
        font-size: 1.4rem;
        line-height: 2.4rem;
    }


    /* 미니쉬타입 */
    .mt_tab_wrap {
        padding: 0 3.8rem 10rem;
    } 
    .mt_tab_wrap li {
        width: 100%;
    }
    .mt_tab_wrap li button .text_wrap {
        bottom: 8%;
    }
    .mt_tab_wrap li button .tit_en {
        margin-top: 1.5rem;
        font-size: 2.2rem;
        line-height: 6rem;
    }
    .mt_tab_wrap li button .tit_kr {
        font-size: 2.2rem;
        line-height: 3.4rem;
    }
    .mt_tab_wrap li button .txt {
        margin-top: 1.4rem;
        font-size: 1.8rem;
        line-height: 3rem;
    }
    .mt_tab_wrap .swiper-pagination {
        position: static;
        margin-top: 2.3rem;
    }
}

/* -------------- 미니쉬 END --------------- */






/* -------------- 진료과목 START ------------- */
/* 진료과목 서브비주얼 세팅 */
.sub_visual_con.vision {
    background-image: url(./../images/sub_visual_vision.png);
} 
.sub_visual_con.drs {
    background-image: url(./../images/sub_visual_drs.png);
} 
.sub_visual_con.sapce {
    background-image: url(./../images/sub_visual_sapce.png);
} 
.sub_visual_con.location {
    background-image: url(./../images/sub_visual_location.png);
} 
@media screen and (max-width:768px){
    .sub_visual_con.vision {
        background-image: url(./../images/sub_visual_vision_mo.png);
    } 
    .sub_visual_con.drs {
        background-image: url(./../images/sub_visual_drs_mo.png);
    } 
    .sub_visual_con.sapce {
        background-image: url(./../images/sub_visual_sapce_mo.png);
    } 
    .sub_visual_con.location {
        background-image: url(./../images/sub_visual_location_mo.png);
    } 
}


@media screen and (max-width:768px){}
/* -------------- 진료과목 END --------------- */