@import url(./sub_info.css);
@import url(./sub_minish.css);
@import url(./sub_clinic.css);


.swiper-pagination .swiper-pagination-bullet {
    background-color: #DED0B0;
    opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet-active {
    background-color: #433A34;
}

/* 모바일 */
@media screen and (max-width:768px){
    .swiper-pagination .swiper-pagination-bullet {
        width: 0.6rem;
        height: 0.6rem;
    }
}
