/* -------------- 미니쉬 START ------------- */
/* 미니쉬 서브비주얼 세팅 */
.sub_visual_con.minish {
    background-image: url(./../images/sub_visual_minish.png);
} 
.sub_visual_con.minish_type {
    background-image: url(./../images/sub_visual_minish_type.png);
} 
.sub_visual_con.make {
    background-image: url(./../images/sub_visual_make.png);
} 
.sub_visual_con.bna {
    background-image: url(./../images/sub_visual_bna.png);
} 
.sub_visual_con.certification {
    background-image: url(./../images/sub_visual_certification.png);
} 
@media screen and (max-width:768px){
    .sub_visual_con.minish {
        background-image: url(./../images/sub_visual_minish_mo.png);
    } 
    .sub_visual_con.minish_type {
        background-image: url(./../images/sub_visual_minish_type_mo.png);
    } 
    .sub_visual_con.make {
        background-image: url(./../images/sub_visual_make_mo.png);
    } 
    .sub_visual_con.bna {
        background-image: url(./../images/sub_visual_bna_mo.png);
    } 
    .sub_visual_con.certification {
        background-image: url(./../images/sub_visual_certification_mo.png);
    } 
}




/* 공통 */
.whatis_wrap {
    padding: 8.4rem 3rem 23rem;
}
.whatis_wrap > .wrap {
    display: flex;
    position: relative;
    max-width: 160rem;
    margin: 0 auto;
}
.whatis_wrap .left_wrap {
    width: 80rem;
    margin-right: 11.7rem;
}
.whatis_wrap .right_wrap {
    /* flex: 0 0 68rem; */
}
.whatis_wrap .right_wrap .whatis_tit span {
    display: inline-block;
    padding-top: 2.3rem;
    font-family: "AmstelvarAlpha";
    font-size: 5rem;
    line-height: 2;
    letter-spacing: -0.1rem;
    background-image: url(../images/icon_title_deco.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 2.7rem 2.4rem;
    color: #8D7F74;
    transform: scaleY(1.2);
    margin-top: 1.2rem;
    margin-bottom: 4.6rem;
}

.solution_wrap {
    position: relative;
    padding: 23.3rem 3rem;
    background: rgba(221, 209, 180, 0.20);
}
.solution_wrap > .wrap {
    display: flex;
    max-width: 134rem;
    margin: 0 auto;
}
.solution_wrap .left_wrap {
    width: 48.5%;
    margin-right: 13rem;
    font-size: 0;
}
.solution_wrap .left_wrap .img_wrap {
    position: relative;
}
.solution_wrap .left_wrap .img_wrap p {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
	font-family: "NanumMyeongjo";
	font-size: 2.2rem;
    line-height: 3.4rem;
	letter-spacing: -0.025rem;
    color:#fff;
}

.bna_case_wrap {
    padding:23rem 3rem 13rem;
}
.bna_case_wrap > .wrap {
    max-width: 135rem;
    margin: 0 auto;
}
.bna_case_wrap .tit_wrap {
    text-align: center;
}
.bna_case_wrap .tit_wrap .sub_tit {
	font-family: "AmstelvarAlpha";
	font-size: 3rem;
    line-height: 3.6rem;
	letter-spacing: -0.025rem;
	color: #8D7F74;
}
.bna_case_wrap .tit_wrap span {
	color: #AA9B7A;
}
.bna_case_wrap .tit_wrap .tit {
    margin-top: 2.4rem;
	font-family: "NanumMyeongjo";
	font-size: 4rem;
    line-height: 1;
	font-weight: 700;
	letter-spacing: -0.025rem;
	color: #8D7F74;
}
.bna_case_wrap .twentytwenty-overlay {
    pointer-events: none;
}
.bna_case_wrap .twentytwenty-handle {
    width: 5rem;
    height: 5rem;
    border:none;
    background-color: rgba(250,237,216,0.5);
}
.bna_case_wrap .twentytwenty-handle span {
    top: 0;
    width: 2.5rem;
    height: 5rem;
    margin-top: 0;
    border:none;
    background-image: url(../images/icon_arrow_white.svg);
    background-repeat: no-repeat;
    background-size: 1.4rem;
    background-position: center center;
}
.bna_case_wrap .twentytwenty-left-arrow {
    left: 0;
    margin-left: 0;
    transform: rotate(180deg);
} 
.bna_case_wrap .twentytwenty-right-arrow {
    right: 0;
    margin-right: 0;
}
.bna_case_wrap .twentytwenty-horizontal .twentytwenty-handle:before, 
.bna_case_wrap .twentytwenty-horizontal .twentytwenty-handle:after {
    margin-top: 0;
    margin-bottom: 0;
    background: #FAEFD8;
}
.bna_case_wrap .case_txt {
    margin-top: 9rem;
	font-size: 1.8rem;
    line-height: 2.8rem;
	letter-spacing: -0.025rem;
    text-align: center;
	color: rgba(67,58,52,0.7);
}
.bna_case_wrap .case_wrap .case_box {
    width: 48.2%;
}

.bna_case_wrap.type01 .case_wrap {
    display: flex;
    margin-top: 9rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bna_case_wrap.type01 .case_wrap .case_box:nth-child(n+3) {
    margin-top: 6.4rem;
}
.bna_case_wrap.type01 .case_wrap .case_box .tit {
    margin-bottom: 1.2rem;
	font-size: 1.8rem;
    line-height: 2.1rem;
	letter-spacing: -0.025rem;
	color: rgba(67,58,52,0.7);
}
.bna_case_wrap.type01 .case_wrap .case_box .date {
    display: flex;
    width: 65%;
    margin: 2rem auto 0;
	font-size: 1.8rem;
    line-height: 2.1rem;
	letter-spacing: -0.025rem;
	color: rgba(67,58,52,0.7);
    justify-content: space-between;
}

.bna_case_wrap.type02 .case_wrap {
    margin-top: 10rem;
}
.bna_case_wrap.type02 .case_wrap .tit {
    margin-top: 8rem;
    margin-bottom: 1.2rem;
	font-family: "NanumMyeongjo";
	font-size: 3rem;
    font-weight: 700;
    line-height: 3.4rem;
	letter-spacing: -0.025rem;
	color: #433A34;
}
.bna_case_wrap.type02 .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bna_case_wrap.type02 .row+.row {
    margin-top: 6rem;
}






/* 미니쉬 탭 */
.mt_tab_wrap {
    overflow: hidden;
    padding: 10rem 3.8rem 20rem;
}
.mt_tab_wrap ul {
    display: flex;
    max-width: 140rem;
    margin: 0 auto;
    justify-content: space-between;
}
.mt_tab_wrap li {
    width: 24%;
}
.mt_tab_wrap li button {
    position: relative;
    width: 100%;
    padding-top: 193.5%;
    border-radius: 18rem;
    box-shadow: 0 0.4rem 1rem rgba(67,58,52,0.2);
    background-image: url(../images/icon_title_deco.svg);
    background-repeat: no-repeat;
    background-position: top 2.5rem center;
    background-size: 2.7rem;
    background-color: #F8F6F0;
}
.mt_tab_wrap li button img {
    position: absolute;
    width: 100%;
    bottom: 39%;
    left:0;
}
.mt_tab_wrap li button .text_wrap {
    position: absolute;
    width: 100%;
    left:0;
    bottom: 9.25%;
}
.mt_tab_wrap li button .tit_en {
    margin-top: 1.5rem;
    font-family: 'AmstelvarAlpha';
	font-size: 3.5rem;
    line-height: 6rem;
    letter-spacing: -0.025rem;
    color: #322C28;
}
.mt_tab_wrap li button .tit_kr {
	font-family: "NanumMyeongjo";
	font-size: 2.2rem;
    line-height: 3.4rem;
	letter-spacing: -0.025rem;
    color:#8D7F74;
}
.mt_tab_wrap li button .txt {
    margin-top: 1.4rem;
	font-size: 1.8rem;
    line-height: 3rem;
	letter-spacing: -0.045rem;
    color:#433A34;
}
.mt_tab_wrap li button.on {
    background-image: url(../images/icon_title_deco_dark.svg);
    background-color: #C7C7C7;
}
.mt_tab_wrap li button.on .tit_kr {
    color:#433A34;
}

.mt_tab_wrap .btn_wrap {
    text-align: center;
    margin-top: 2rem;
}
.mt_tab_wrap .btn_return {
    display: none;
    padding-left: 3.2rem;
	font-family: "Pretendard";
    font-size: 1.2rem;
    line-height: 2.1rem;
    letter-spacing: -0.03rem;
    background-image: url(../images/icon_retrurn_dark.svg);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 2rem;
    color: #a6b7c2;
    background-color: transparent;
}





/* 미니쉬 */
.whatis_wrap.minish {
    padding-bottom: 15rem;
}
.minish_video_wrap > .wrap {
    max-width: 140rem;
    margin: 0 auto;
}
.minish_sec01_wrap {
    padding: 20rem 3rem;
}
.minish_sec01_wrap.solution {
    background-color: rgba(221,209,180,0.2);
}
.minish_sec01_wrap.tech {
    background-color: rgba(188,185,195,0.2);
}
.minish_sec01_wrap > .wrap {
    display: flex;
    max-width: 160rem;
    margin: 0 auto;
    align-items: center;
}
.minish_sec01_wrap .left_wrap {
    width: 80rem;
    margin-right: 12rem;
}
.minish_sec01_wrap .right_wrap {
    width: 48rem;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.minish_sec01_wrap .right_wrap .txt_box {
    width: 100%;
	font-family: "NanumMyeongjo";
	font-size: 1.8rem;
    line-height: 3.8rem;
	letter-spacing: -0.025rem;
    text-align: center;
    color:#AA9B7A;
    background-color: #fff;
}
.minish_sec01_wrap .right_wrap .text_set {
    margin-bottom: 2rem;
}
.minish_sec01_wrap .right_wrap .imp_point {
    margin-top: 2rem;
}
.minish_sec01_wrap .imp_point li {
    width: 12rem;
}
.minish_sec01_wrap .imp_point li .txt {
    margin-top: 0.6rem;
    font-size: 1.8rem;
    font-weight: 600;
}
.minish_sec01_wrap .imp_point li .sub_txt {
    width: 150%;
    margin-left:-25%;
    font-size: 1.5rem;
    line-height: 1.8rem;
}

.minish_sec02_wrap {
    padding: 0 3rem 20rem;
}
.minish_sec02_wrap > .wrap {
    max-width: 140rem;
    margin: 0 auto
}
.minish_sec02_wrap .con_box {
    display: flex;
    position: relative;
    margin-top: 20rem;
    justify-content: space-between;
}
.minish_sec02_wrap .box02 {
    flex-flow: row-reverse;
}
.minish_sec02_wrap .media_wrap {
    width: 80rem;
}
.minish_sec02_wrap .box01 .media_wrap {
    margin-right: 12rem;
}
.minish_sec02_wrap .box02 .media_wrap {
    margin-left: 12rem;
}
.minish_sec02_wrap .text_wrap {
    width: 48rem;
    flex-wrap: wrap;
    align-content: space-between;
}
.minish_sec02_wrap .box03 .media_wrap {
    display: flex;
    width: 100%;
    font-size: 0;
    align-items: flex-end;
}
.minish_sec02_wrap .box03 .sec03 img:first-child {
    width: 38.4%;
    vertical-align: top;
}
.minish_sec02_wrap .box03 .sec03 img:last-child {
    width: 61.6%;
}
.minish_sec02_wrap .box03 .text_wrap {
    position: absolute;
    top: 0;
    right: 0;
}

.minish_sec03_wrap {
    padding: 15rem 0 20rem;
    text-align: center;
}
.minish_sec03_wrap .top_wrap .tit {
    padding-top: 6rem;
	font-family: "NanumMyeongjo";
	font-size: 4rem;
    font-weight: 700;
    line-height: 5rem;
	letter-spacing: -0.025rem;
    background-image: url(../images/icon_title_deco.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 2.7rem;
    color:#433A34;
}
.minish_sec03_wrap .mid_wrap { 
    padding: 1.7rem 0 1.6rem;
    margin: 6.8rem 0 4.8rem;
    background-color: #000;
}
.minish_sec03_wrap .mid_wrap img {
    max-width: 81.7rem;
    width: 100%;
}
.minish_sec03_wrap .bot_wrap .tit {
	font-family: "NanumMyeongjo";
	font-size: 3rem;
    font-weight: 700;
    line-height: 3.4rem;
	letter-spacing: -0.025rem;
    color:#433A34;
}
.minish_sec03_wrap .bot_wrap .txt {
    margin-top: 3.3rem;
	font-size: 1.8rem;
    line-height: 3rem;
	letter-spacing: -0.025rem;
    color:#433A34;
}



/* 듀얼 미니쉬 */
.whatis_wrap.dual {
    background-image: url(../images/sub_dual_whatis_bg.png);
    background-repeat: no-repeat;
    background-size: 32.4rem;
    background-position: bottom 10rem right calc(50% - 58rem);
}
.solution_wrap.dual { 
    padding: 15rem 3rem 16rem;
}
.solution_wrap.dual > .wrap { 
    background-image: url(../images/sub_dual_solution_bg.png);
    background-repeat: no-repeat;
    background-size: 48.5%;
    background-position: bottom 48% right 2rem;
}
.solution_wrap.dual .left_wrap {
    display: flex;
    width: 100%;
    margin-right: 0;
    flex-wrap: wrap;
}
.solution_wrap.dual .left_wrap .img_wrap {
    width: 48.5%;
}
.solution_wrap.dual .left_wrap .img_wrap:nth-child(-n+2) {
    margin-right: 30%;
}
.solution_wrap.dual .left_wrap .img_wrap:nth-child(n+2){
    margin-top: 2rem;
}
.solution_wrap.dual .left_wrap .img_wrap:last-child {
    margin-left:2rem;
}
.solution_wrap.dual .right_wrap {
    position: absolute;
    top: 24rem;
    left: calc(45% + 13rem);
}


/* 핑크 미니쉬 */
.whatis_wrap.pink {
    background-image: url(../images/sub_pink_whatis_bg.png);
    background-repeat: no-repeat;
    background-size: 33.3rem;
    background-position: bottom 14.2rem right 14.2rem;
}
.solution_wrap.pink {   
    background-image: url(../images/sub_pink_solution_bg.png);
    background-repeat: no-repeat;
    background-size: 65rem;
    background-position: bottom right calc(50% - 30rem);
}

/* 미니쉬 브릿지 */
.whatis_wrap.bridge {
    background-image: url(../images/sub_bridge_whatis_bg.png);
    background-repeat: no-repeat;
    background-size: 49.8rem;
    background-position: bottom 4rem right calc(50% - 52rem);
}
.solution_wrap.bridge {   
    background-image: url(../images/sub_bridge_solution_bg.png);
    background-repeat: no-repeat;
    background-size: 65rem;
    background-position: bottom right calc(50% - 30rem);
}
.bridge_sec01_wrap {
    padding: 23rem 3rem 10rem;
}
.bridge_sec01_wrap > .wrap {
    display: flex;
    position: relative;
    max-width: 137rem;
    margin: 0 auto;
    justify-content: space-between;
}
.bridge_sec01_wrap .right_wrap {
    width: 80rem;
    margin-left: 11.7rem;
}
.bridge_sec02_wrap {
    padding: 10rem 3rem 16rem;
}
.bridge_sec02_wrap > .wrap {
    max-width: 132rem;
    margin: 0 auto;
    text-align: center;
}
.bridge_sec02_wrap .tit_wrap .tit {
    margin-bottom: 8rem;
	font-family: "NanumMyeongjo";
	font-size: 4rem;
    line-height: 1;
	font-weight: 700;
	letter-spacing: -0.025rem;
	color: #8D7F74;
}
.bridge_sec02_wrap .tit_wrap span {
    color: #AA9B7A;
}
.bridge_sec02_wrap .con_wrap {
    display: flex;
    justify-content: space-between;
}
.bridge_sec02_wrap .con_wrap .img_wrap {
    width: 49.55%;
}
.bridge_sec02_wrap .con_wrap p {
    margin-top: 2rem;
	font-family: "NanumMyeongjo";
	font-size: 2rem;
    line-height: 3.4rem;
	font-weight: 700;
	letter-spacing: -0.025rem;
	color: #433A34;
}

.bridge_sec03_wrap {
    padding: 0 3rem 10rem;
}
.bridge_sec03_wrap.wing {
    background-color: rgba(221,209,180,0.2);
}
.bridge_sec03_wrap.veneer {
    background-color: rgba(188,185,195,0.2);
}
.bridge_sec03_wrap > .wrap {
    position: relative;
    max-width: 137rem;
    margin: 0 auto;
}
.bridge_sec03_wrap .text_wrap {
    padding-top: 17rem;
    padding-bottom:8rem;
}
.bridge_sec03_wrap.wing .text_wrap {
    background-image: url(../images/sub_bridge_wing_bg.png);
    background-repeat: no-repeat;
    background-size: 36.2%;
    background-position: bottom 2.8rem right 12.3%;
}
.bridge_sec03_wrap.veneer .text_wrap {
    background-image: url(../images/sub_bridge_veneer_bg.png);
    background-repeat: no-repeat;
    background-size: 41.2%;
    background-position: bottom 9rem right 2.5%;
}

/* 어금니 미니쉬 */
.whatis_wrap.molar {
    background-image: url(../images/sub_molar_whatis_bg.png);
    background-repeat: no-repeat;
    background-position: bottom 12rem right calc(50% - 58rem);
    background-size: 37.5rem;
}
.solution_wrap.molar {
    padding: 19rem 3rem;
    background-image: url(../images/sub_molar_solution_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right calc(50% - 30rem);
    background-size: 65rem;
}


@media screen and (max-width:1600px){
    .whatis_wrap .left_wrap {
        width: 48.5%;
        margin-right: 5%;
    }
    .whatis_wrap .right_wrap .whatis_tit span {
        font-size: 4rem;
    }
    
    .whatis_wrap.dual {
        background-position: bottom 10rem right 5rem;
    }
    .whatis_wrap.pink {
        background-position: bottom 5rem right 5rem;
    }
    .whatis_wrap.bridge {
        background-size: 40rem;
        background-position: bottom 5rem right 5rem;
    }
    .whatis_wrap.molar {
        background-position: bottom 5rem right 5rem;
    }
}
@media screen and (max-width:1400px){
    .whatis_wrap .right_wrap .whatis_tit span {
        font-size: 3.4rem;
    }
    .solution_wrap .left_wrap {
        margin-right: 5%;
    }

    .minish_sec01_wrap .left_wrap {
        width: 48.5%;
        margin-right: 5%;
    }
    .minish_sec02_wrap .media_wrap {
        width: 48.5%;
    }
    .minish_sec02_wrap .box01 .media_wrap {
        margin-right: 5%;
    }
    .minish_sec02_wrap .box02 .media_wrap {
        margin-left: 5%;
    }
    
    .bridge_sec01_wrap .right_wrap {
        width: 48.5%;
        margin-left: 5%;
    }

}
@media screen and (max-width:1200px){
    
    .mt_tab_wrap li button .tit_en {
        font-size: 2.5rem;
        line-height: 4rem;
    }
    .mt_tab_wrap li button .tit_kr {
        font-size: 1.8rem;
        line-height: 3rem;
    }
    .mt_tab_wrap li button .txt {
        margin-top: 1rem;
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .whatis_wrap.dual {
        background-size: 20rem;
    }
    .whatis_wrap.pink {
        background-size: 20rem;
        background-position: bottom 10rem right 5rem;
    }
    .solution_wrap.pink {
        background-size: 45%;
        background-position: bottom right 8%;
    }
    .whatis_wrap.bridge {
        background-size: 30rem;
        background-position: bottom 8rem right 5rem;
    }
    .solution_wrap.bridge {
        background-size: 45%;
        background-position: bottom right 8%;
    }
    .whatis_wrap.molar {
        background-image: url(../images/sub_molar_whatis_bg.png);
        background-repeat: no-repeat;
        background-size: 20rem;
        background-position: bottom 10rem right 5rem;
    }
    .solution_wrap.molar {
        background-size: 45%;
        background-position: bottom right 8%;
    }
    }    
/* 태블릿 */
@media screen and (max-width:1024px){
    .whatis_wrap > .wrap {
        align-items: center;
    }
    .minish_sec02_wrap .box03 .text_wrap {
        left: 54%;
        width: auto;
    }
    .solution_wrap .right_wrap {
        top: 18rem;
    }
    .solution_wrap .left_wrap .img_wrap p {
        bottom: 1rem;
        left: 1rem;
        font-size: 1.6rem;
        line-height: 2rem;
    }
}    
@media screen and (max-width:768px){
    
    /* 공통 */
    .whatis_wrap {
        padding: 0 2.5rem 15rem;
    }
    .whatis_wrap > .wrap {
        flex-flow: column-reverse;
    }
    .whatis_wrap .left_wrap {
        width: 100%;
        margin: 3rem auto 0;
    }
    .whatis_wrap .right_wrap {
        width: 100%;
        flex: auto;
    }
    .whatis_wrap .right_wrap .whatis_tit {
        text-align: center;
    }
    .whatis_wrap .right_wrap .whatis_tit span {
        width: 111%;
        padding-top: 4.7rem;
        margin: 0 -5.5% 6rem;
        font-size: 3rem;
        line-height: 4rem;
        background-size: 2.7rem 2.4rem;
        transform: scaleX(0.9);
    }
    .solution_wrap {
        padding: 10rem 2.8rem 6rem;
    }
    .solution_wrap > .wrap {
        flex-flow: column-reverse;
    }
    .solution_wrap .left_wrap {
        width: 100%;
    }

    .bna_case_wrap {
        padding:10rem 1.5rem;
    }
    .bna_case_wrap .tit_wrap .sub_tit {
        font-size: 1.6rem;
        line-height: 1.9rem;
    }
    .bna_case_wrap .tit_wrap .tit {
        margin-top: 0.6rem;
        font-size: 1.8rem;
        line-height: 4rem;
    }
    .bna_case_wrap .case_wrap .case_box {
        width: 100%;
    }
    .bna_case_wrap .twentytwenty-handle {
        width: 3rem;
        height: 3rem;
        margin-left: -1.5rem;
    }
    .bna_case_wrap .twentytwenty-handle span {
        width: 1.5rem;
        height: 3rem;
        background-size: 0.8rem;
    }
    .bna_case_wrap .case_txt {
        margin-top: 6rem;
        font-size: 1.2rem;
        line-height: 2.4rem;
    }

    .bna_case_wrap.type01 .case_wrap {
        margin-top: 3rem;
    }
    .bna_case_wrap.type01 .case_wrap .case_box:nth-child(n+2) {
        margin-top: 3rem;
    }
    .bna_case_wrap.type01 .case_wrap .case_box .tit {
        margin-bottom: 0.5rem;
        font-size: 1.28rem;
        line-height: 1.4rem;
    }
    .bna_case_wrap.type01 .case_wrap .case_box .date {
        width: 28rem;
        margin: 1rem auto 0;
        font-size: 1.2rem;
        line-height: 1.4rem;
    }

    .bna_case_wrap.type02 .case_wrap {
        margin-top: 6rem;
    }
    .bna_case_wrap.type02 .case_wrap .tit {
        margin-top: 3rem;
        margin-bottom: 2rem;
        font-size: 1.6rem;
        line-height: 2.8rem;
        text-align: center;
        background: rgba(250, 239, 216, 0.40);
    }
    .bna_case_wrap .case_wrap .case_box~.case_box {
        margin-top: 2rem;
    }
    .bna_case_wrap.type02 .row+.row {
        margin-top: 2rem;
    }

        

    /* 미니쉬탭 */
    .mt_tab_wrap {
        padding: 0 3.8rem 10rem;
    } 
    .mt_tab_wrap li {
        width: 100%;
    }
    .mt_tab_wrap li button .text_wrap {
        bottom: 8%;
    }
    .mt_tab_wrap li button .tit_en {
        margin-top: 1.5rem;
        font-size: 2.2rem;
        line-height: 6rem;
    }
    .mt_tab_wrap li button .tit_kr {
        font-size: 2.2rem;
        line-height: 3.4rem;
    }
    .mt_tab_wrap li button .txt {
        margin-top: 1.4rem;
        font-size: 1.8rem;
        line-height: 3rem;
    }
    .mt_tab_wrap .swiper-pagination {
        position: static;
        margin-top: 2.3rem;
    }
        
    /* 미니쉬 */
    .whatis_wrap.minish {
        padding-bottom: 10rem;
    }
    .minish_sec01_wrap {
        padding: 0;
    }
    .minish_sec01_wrap > .wrap {
        display: block;
        position: relative;
    }
    .minish_sec01_wrap .left_wrap {
        width: 100%;
        position: absolute;
        top: 27.5rem;
        left: 0;
    }
    .minish_sec01_wrap .right_wrap {
        width: 100%;
        margin-left: 0;
        padding : 8rem  2.5rem;
    }
    .minish_sec01_wrap .right_wrap .txt_box {
        width: 100%;
        font-size: 1.4rem;
    }
    .minish_sec01_wrap .right_wrap .text_set {
        margin-bottom: 30rem;
    }
    .minish_sec01_wrap .right_wrap .text_set .tit {
        font-size: 2.2rem;
        line-height: 3.4rem;
    }
    .minish_sec01_wrap .imp_point {
        margin-top: 6.2rem;
    }
    .minish_sec01_wrap .imp_point li img {
        width: 8rem;
    }
    .minish_sec01_wrap .imp_point li .txt {
        margin-top: 1rem;
        font-size: 1.4rem;
    }
    .minish_sec01_wrap .imp_point li .sub_txt {
        font-size: 1.4rem;
        line-height: 1.6rem;
    }

    .minish_sec02_wrap {
        padding: 0 0 10rem;
    }
    .minish_sec02_wrap .con_box {
        margin-top: 10rem;
        flex-flow: column-reverse;
    }
    .minish_sec02_wrap .media_wrap {
        width: 100%;
    }
    .minish_sec02_wrap .box01 .media_wrap {
        margin-right: 0;
    }
    .minish_sec02_wrap .box02 .media_wrap {
        margin-left: 0;
    }
    .minish_sec02_wrap .text_wrap {
        width: 100%;
        margin-left: 0;
        padding: 0 2.8rem 6rem;
    }
    .minish_sec02_wrap .box03 .media_wrap {
        flex-wrap: wrap;
    }
    .minish_sec02_wrap .box03 .sec01 {
        width: 55.8%;
        height: 28.7rem;
    }
    .minish_sec02_wrap .box03 .sec02 {
        width: 44.2%;
        height: 28.7rem;
    }
    .minish_sec02_wrap .box03 .sec03 {
        height: 13.5rem;
    }
    .minish_sec02_wrap .box03 .text_wrap {
        position: static;
    }

    .minish_sec03_wrap {
        padding: 15rem 0 20rem;
        text-align: center;
    }
    .minish_sec03_wrap .top_wrap .tit {
        padding-top: 6rem;
        font-family: "NanumMyeongjo";
        font-size: 4rem;
        font-weight: 700;
        line-height: 5rem;
        letter-spacing: -0.025rem;
        background-image: url(../images/icon_title_deco.svg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 2.7rem;
        color:#433A34;
    }
    
    .minish_sec03_wrap {
        padding: 10rem 0;
    }
    .minish_sec03_wrap .top_wrap .tit {
        padding-top: 4.4rem;
        font-size: 3rem;
        line-height: 4.2rem;
        background-size: 2.4rem;
    }
    .minish_sec03_wrap .mid_wrap { 
        padding: 4.6rem 0;
        margin: 10rem 0 6rem;
    }
    .minish_sec03_wrap .bot_wrap .tit {
        font-size: 1.8rem;
        line-height: 3.4rem;
    }
    .minish_sec03_wrap .bot_wrap .txt {
        margin-top: 2rem;
        font-size: 1.4rem;
        line-height: 2.4rem;
    }


    
    /* 듀얼 미니쉬 */
    .whatis_wrap.dual {
        background-size: 12rem;
        background-position: bottom 5rem right 2.7rem;
    }
    .solution_wrap.dual { 
        padding: 10rem 2.8rem 6rem;
    }
    .solution_wrap.dual > .wrap { 
        background-size: 32rem;
        background-position: top 24.5rem right 0;
    }
    .solution_wrap.dual .left_wrap .img_wrap {
        width: 100%;
    }
    .solution_wrap.dual .left_wrap .img_wrap:nth-child(-n+2) {
        margin-right: 0;
    }
    .solution_wrap.dual .left_wrap .img_wrap:nth-child(n+2){
        margin-top: 2rem;
    }
    .solution_wrap.dual .left_wrap .img_wrap:last-child {
        margin-left:0;
    }
    .solution_wrap.dual .right_wrap {
        position: static;
        margin-bottom: 26.2rem;
    }

    
    /* 핑크 미니쉬 */
    .whatis_wrap.pink {
        background-size: 10.8rem;
        background-position: bottom 5rem right 2.8rem;
    }
    .solution_wrap.pink {  
        background-size: 32rem;
        background-position: bottom 23rem right 2.8rem;
    }
    .solution_wrap.pink .right_wrap {
        margin-bottom: 25.5rem;
    }

    /* 미니쉬 브릿지 */
    .whatis_wrap.bridge {
        padding: 0 2.8rem 19rem;
        background-size: 17.5rem;
        background-position: bottom 5rem right 2.8rem;
    }
    .solution_wrap.bridge {
        background-size: 32rem;
        background-position: bottom 23rem right 2.8rem;
    }
    .solution_wrap.bridge .right_wrap {
        margin-bottom: 23rem;
    }
    .solution_wrap.bridge .text_set .txt {
        font-size: 1.35rem;
        letter-spacing: -0.1rem;
    }
    .bridge_sec01_wrap {
        padding: 10rem 2.8rem 4rem;
    }
    .bridge_sec01_wrap > .wrap {
        display: block;
    }
    .bridge_sec01_wrap .right_wrap {
        margin-top: 6rem;
        width: 100%;
        margin-left: 0;
    }
    .bridge_sec02_wrap {
        padding: 4rem 2.8rem 8rem;
    }
    .bridge_sec02_wrap .tit_wrap .tit {
        margin-bottom: 6rem;
        font-size: 1.8rem;
        line-height: 2.8rem;
    }
    .bridge_sec02_wrap .con_wrap {
        display: block;
    }
    .bridge_sec02_wrap .con_wrap .img_wrap {
        width: 100%
    }
    .bridge_sec02_wrap .con_wrap .img_wrap~.img_wrap {
        margin-top: 2rem;
    }
    .bridge_sec02_wrap .con_wrap p {
        margin-top: 0.5rem;
        font-size: 1.6rem;
        line-height: 2.8rem;
        background-color: rgba(250, 239, 216, 0.4);
    }
    .bridge_sec03_wrap {
        padding: 10rem  2.8rem 6rem;
    }
    .bridge_sec03_wrap .text_wrap {
        padding-top: 0;
    }
    .bridge_sec03_wrap.wing .text_wrap {
        padding-bottom: 21.2rem;
        background-size: 22rem;
        background-position: bottom 2rem right -1.5rem;
    }
    .bridge_sec03_wrap.veneer .text_wrap {
        padding-bottom: 16.3rem;
        background-size: 25rem;
        background-position: bottom 2rem right -1.5rem;
    }
    .bridge_sec03_wrap .img_wrap img~img{
        padding-top: 2rem;
    }


        
    /* 어금니 미니쉬 */
    .whatis_wrap.molar {
        background-size: 12rem;
        background-position: bottom 5.2rem right 2.8rem;
    }
    .solution_wrap.molar {
        padding: 10rem 2.8rem 16.4rem;
        background-size: 100%;
        background-position: bottom right;
    }
    .solution_wrap.molar .right_wrap {
        margin-bottom: 5.3rem;
    }

}

/* -------------- 미니쉬 END --------------- */