<div class="sns_fixed_con">
    <div class="wrap">
        <ul class="sns_list">
            <li class="sns_youtube">
                <a href="" target="_blank">
                    <img src="./images/icon_sns_youtube.png">
                </a>
            </li>
            <li class="sns_insta">
                <a href="" target="_blank">
                    <img src="./images/icon_sns_insta.png">
                </a>
            </li>
            <li class="sns_blog">
                <a href="" target="_blank">
                    <img src="./images/icon_sns_blog.png">
                </a>
            </li>
            <li class="sns_kakao">
                <a href="" target="_blank">
                    <img src="./images/icon_sns_kakao.png">
                </a>
            </li>
        </ul>
    </div>
    <div class="btn_wrap">
        <button>
            <img src="./images/icon_sns_btn.svg">
        </button>
    </div>
</div>