<div class="footer_con scr_chk">
    <div class="footer_top">
        <div class="wrap">
            <div class="info_wrap">
                <div class="location_wrap">
                    <p class="tit">Location</p>
                    <p class="addr">서울시 서초구 사평대로 373 삼흥빌딩 2층</p>
                    <p class="addr_sub">미니쉬치과병원은 논현역 4번 출구에 위치해 있습니다</p>
                    <p class="tel">02-1234-1234</p>
                </div>
                <div class="time_wrap">
                    <p class="tit">Time</p>
                    <ul>
                        <li>
                            <b>일목금</b>
                            <span>09:00 - 18:30</span>
                        </li>
                        <li>
                            <b>화&수</b>
                            <span>12:00 - 13:00</span>
                        </li>
                        <li>
                            <b>토요일</b>
                            <span>10:00 - 15:00</span>
                        </li>
                        <li>
                            <b>점심시간</b>
                            <span>13:00 - 14:00</span>
                        </li>
                    </ul>
                    <p class="txt">단, 공휴일은 휴진입니다<br>
                        토요일은 점심시간 없이 진료합니다</p>
                </div>
            </div>
            <div class="map_wrap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12657.98169483382!2d127.0349014!3d37.5198172!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca38b8afad169%3A0xe5030b5ca0b9ad5a!2z66-464uI7Ims7LmY6rO867OR7JuQ!5e0!3m2!1sko!2skr!4v1725243560315!5m2!1sko!2skr" style="width:100%; height:100%; border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="wrap">
            <ul class="footer_fnb">
                <li>
                    <a href="">개인정보처리방침</a>
                </li>
                <li>
                    <a href="">비급여진료비용 안내</a>
                </li>
                <li>
                    <a href="">고객센터</a>
                </li>
                <li class="ver_pc">
                    <a href="">오시는길</a>
                </li>
            </ul>
            <p>
                <span>서울시 강남구 언주로 729 마스터스729빌딩, 12층</span>
                <span>02-1234-1234</span><br>
                <span>ⓒ 2024. MINISH Clinic All rights reserved.</span>
            </p>
            <img class="footer_logo" src="./images/footer_logo.png" alt="">
        </div>
    </div>
</div>