<div class="header_con">
    <div class="top_wrap">
        <h1 class="top_logo">
            <a href="">
                <img src="./images/header-logo.png" alt="minish 로고" title="">
            </a>
        </h1>
        <div class="top_tnb">
            <p>More +</p>
            <ul>
                <li>
                    <a href="">신념 & 비전</a>
                </li>
                <li>
                    <a href="">의료진</a>
                </li>
                <li>
                    <a href="">위치 및 진료</a>
                </li>
                <li>
                    <a href="">공간 안내</a>
                </li>
            </ul>
        </div>
        <div class="top_addr">
            <p>서울시 서초구 사평대로 373 삼흥빌딩 2층</p>
        </div>
        <div class="top_menu">
            <button class="gnb_open">
                <img src="./images/header_icon_menu.svg">
            </button>
        </div>
    </div>
    <div class="gnb_wrap">
        <div class="gnb_top">
            <div class="wrap">
                <div class="gnb_logo">
                    <img src="./images/gnb_logo.png" alt="">
                </div>
                <!-- 비로그인 start -->
                <ul class="gnb_guest">
                    <li>
                        <a href="">로그인</a>
                    </li>
                    <li>
                        <a href="">회원가입</a>
                    </li>
                </ul>
                <!-- 비로그인 end -->
                <!-- 로그인 start -->
                <!-- <div class="gnb_member">
                    <img src="./images/gnb_member_img_sample.png" alt="">
                    <p>
                        <span class="name">최혜진</span>고객님
                    </p>
                </div> -->
                <!-- 로그인 end -->
                <button class="gnb_close">
                    <img src="./images/header_icon_close.svg" alt="">
                </button>
            </div>
        </div>
        <div class="gnb_bot">
            <div class="wrap">
                <ul class="gnb_list">
                    <li>
                        <strong>병원 소개</strong>
                        <ul>
                            <li><a href="">신념 & 비전</a></li>
                            <li><a href="">의료진</a></li>
                            <li><a href="">위치 및 진료</a></li>
                            <li><a href="">공간 안내</a></li>
                        </ul>
                    </li>
                    <li>
                        <strong>미니쉬</strong>
                        <ul>
                            <li><a href="">미니쉬</a></li>
                            <li><a href="">미니쉬타입</a></li>
                            <li><a href="">미니쉬 제작 과정</a></li>
                            <li><a href="">Before & After</a></li>
                            <li><a href="">미니쉬 정품 인증</a></li>
                        </ul>
                    </li>
                    <li>
                        <strong>진료과목</strong>
                        <ul>
                            <li><a href="">전체 보기</a></li>
                            <li><a href="">심미 클리닉</a></li>
                            <li><a href="">미백 클리닉</a></li>
                            <li><a href="">충치 클리닉</a></li>
                            <li><a href="">잇몸 클리닉</a></li>
                        </ul>
                    </li>
                    <li>
                        <strong>미디어</strong>
                        <ul>
                            <li><a href="">공지사항/ 새로운소식</a></li>
                            <li><a href="">리얼 후기</a></li>
                            <li><a href="">미니쉬 유튜브</a></li>
                            <li><a href="">인재 채용</a></li>
                        </ul>
                    </li>
                    <li>
                        <strong>상담/예약</strong>
                        <ul>
                            <li><a href="">상담 신청/예약</a></li>
                            <li><a href="">모델 지원</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="gnb_img">
                    <img src="./images/gnb_img.png" alt="">
                </div>
            </div>
        </div>
        

    </div>
</div>